    
@using GaiaCore.Gaia
@model List<GaiaDbContext.Models.HomeViewModels.GameFactionModel>

@{
    ViewBag.Title = "使用种族";
    Layout = "_Layout";
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">

                @Html.DropDownList("FactionName", new SelectList(new List<Faction>() { new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null), new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new Itar(null), new Nevla(null) }, "FactionName", "ChineseName"),
        "--种族--", new { @class = "btn dropdown-toggle form-control", @id = "alSelectList" })


                <input type="hidden" value="1" name="type"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>

            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <td>游戏名称</td>
            <td>种族名称</td>
            <td>排名</td>

            <td>总得分</td>
            <td>科技得分</td>
            <td>终局计分1</td>
            <td>终局计分2</td>
            <td>建筑数量</td>

        </tr>
    </thead>
    <tbody>
        
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Home/RestoreGame/@item.gameinfo_id">@item.gameinfo_name</a>
            </td>
            <td>@item.FactionChineseName</td>
            <td>@item.rank</td>

            <td>@item.scoreTotal</td>
            <td>@item.kjPostion/@item.scoreKj vp</td>
            <td>@item.numberFst1/@item.scoreFst1 vp</td>
            <td>@item.numberFst2/@item.scoreFst2 vp</td>
            <td>@item.numberBuild</td>
        </tr>

    }
        
    </tbody>
</table>