
@using GaiaCore.Gaia
@model GaiaProject.Controllers.GameInfoController.FactionListInfo

@{
    ViewBag.Title = "种族";
    Layout = "_Layout";
    string type = this.Context.Request.Query["type"];
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">

                @Html.Partial("Partial_Html_UserCount", this)


                @Html.DropDownList("FactionName", new SelectList(new List<Faction>() { new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null), new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new Itar(null), new Nevla(null) }, "FactionName", "ChineseName"),
          "--种族--", new { @class = "btn dropdown-toggle form-control", @id = "alSelectList" })


                <input type="hidden" value="@type" name="type" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>

            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            @if (type == "2")
            {
                <td>玩家</td>
            }
            else
            {
                <td>游戏名称</td>
            }
            <td>种族名称</td>
            <td>排名</td>

            <td>总得分</td>
            <td>分差</td>
            <td>裸分</td>
            <td>科技得分</td>
            <td>终局计分1</td>
            <td>终局计分2</td>
            <td>建筑数量</td>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListGameFaction)
        {
            <tr>
                <td>
                    @if (type == "2")
                    {
                        <span>@item.username</span>
                    }
                    else
                    {
                        <a href="/Home/RestoreGame/@item.gameinfo_id">@item.gameinfo_name</a>
                    }
                </td>
                <td>@item.FactionChineseName</td>
                <td>@item.rank</td>

                <td>@item.scoreTotal</td>
                <td>@item.scoreDifference</td>
                <td>@item.scoreLuo</td>

                <td>@item.kjPostion/@item.scoreKj vp</td>
                <td>@item.numberFst1/@item.scoreFst1 vp</td>
                <td>@item.numberFst2/@item.scoreFst2 vp</td>
                <td>@item.numberBuild</td>
            </tr>

        }

    </tbody>
</table>




@if (type != "2")
{
    @Html.Partial("Partial_Html_FactionStatistics", Model.ListStatisticsFaction)

}