@using GaiaProject.Controllers
@using GameInfoController = GaiaProject.Models.Data.GameInfoController
@model List<GaiaProject.Models.Data.GameInfoController.StatisticsFaction>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                <select class="btn dropdown-toggle form-control" id="usercount" name="usercount"><option value="">--人数--</option>
                    <option value="0">全部</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <input type="text" class="form-control" placeholder="玩家ID" id="username" name="username">

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>
<script>
    var ucount = @this.Context.Request.Query["usercount"];
    $("#usercount").val(ucount);
</script>


<table class="table">
    <thead>
        <tr>
            <td>种族</td>

            <td>局数</td>
            <td>胜利场次</td>
            <td>胜率</td>
            <td>最低分</td>
            <td>最高分</td>
            <td>玩家</td>

            <td>平均分</td>



        </tr>
    </thead>
    <tbody>

        @foreach (GameInfoController.StatisticsFaction item in Model)
        {
            <tr>
                <td>
                    @item.ChineseName
                </td>
                <td>
                    @item.count
                </td>
                <td>@item.numberwin</td>
                <td>@item.winprobability</td>
                <td>@item.scoremin</td>
                <td>@item.scoremax</td>
                <td>@item.scoremaxuser</td>

                <td>@item.scoreavg</td>
            </tr>
        }

    </tbody>
</table>


