@*@model System.Collections.Generic.IEnumerable<GaiaDbContext.Models.HomeViewModels.GameFactionModel>*@

@using GaiaDbContext.Models
@using GaiaDbContext.Models.HomeViewModels
@inject UserManager<ApplicationUser> UserManager

@model List<GaiaDbContext.Models.HomeViewModels.GameInfoModel>
@{
    //ViewBag.Title = "结束游戏";
    Layout = "_Layout";
}


<table class="table">
    <thead>
        <tr>
            <td>游戏名称</td>
            <td>人数</td>
            @*<td>FSTList</td>*@
            <td>得分</td>
            <td>回合</td>

            <td>创建时间/结束时间</td>

            <td></td>
        </tr>
    </thead>
    <tbody>
        @{ bool isAdmin = UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Home/RestoreGame/@item.Id">@item.name</a>
                </td>
                <td>@item.UserCount</td>
                @*<td>@item.FSTList</td>*@

                <td>@item.scoreFaction</td>
                <td>@item.round</td>

                <td>@item.starttime.ToString("yyyy-MM-dd")/@item.endtime?.ToString("yyyy-MM-dd")</td>

                <td>
                    @if (isAdmin)
                    {
                        <button class="btn btn-default del" id="@item.Id">删除</button>
                    }
                </td>
            </tr>

        }

    </tbody>
</table>
<script>
    $(".del").click(function () {
        var id = this.id;
        var button = $(this);
        $.post("/GameInfo/DelGame/" + id, "", function (data) {
            if (data.info.state === 200) {
                button.parent().parent().remove();
            }
        });
    })
</script>