@using System.Collections.Generic
@using GaiaCore.Gaia.Tiles
@model System.Collections.Generic.List<GaiaDbContext.Models.HomeViewModels.GameFactionExtendModel>

@{
    ViewBag.Title = "科技版统计";
    Layout = "_Layout";
}
<link href="~/css/sitegameview.css" rel="stylesheet" />
<h2>科技版统计</h2>

<table>
    <tr>
        @foreach (var item in new List<AdavanceTechnology>()
        {
            new ATT1(),
            new ATT2(),
            new ATT3(),
            new ATT4(),
            new ATT5(),
            new ATT6(),
            new ATT7(),
            new ATT8(),
            new ATT9(),
            new ATT10(),
            new ATT11(),
            new ATT12(),
            new ATT13(),
            new ATT14(),
            new ATT15(),
        })
        {
            <td title="" align="center" id="">
                <div class="attcss @{@item.name}False"><span>@{@item.name}<br/>@{@item.desc}</span>
                                                                                 </div></td>

        }

                                                                                 </tr>
                                                                                 <tr>
                                                                                     <td>
                                                                                         @Model[0].ATT1
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT2
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT3
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT4
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT5
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT6
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT7
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT8
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT9
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT10
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT11
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT12
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT13
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT14
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT15
                                                                                     </td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                     <td>
                                                                                         平均分
                                                                                     </td>
                                                                                     <td>
                                                                                         
                                                                                     </td>
                                                                                     <td>
                                                                                        
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT4Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT5Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT6Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT7Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT8Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT9Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT10Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT11Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT12Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT13Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT14Score
                                                                                     </td>
                                                                                     <td>
                                                                                         @Model[0].ATT15Score
                                                                                     </td>
                                                                                 </tr>
    
    @for (int index = 1; index < 5; index++)
    {
        <tr>
            <td>
                排名 @index/均分
            </td>
            <td>
                                                                                         
            </td>
            <td>
                                                                                        
            </td>
            <td>
                @Model[index].ATT4/@Model[index].ATT4Score
            </td>
            <td>
                @Model[index].ATT5/@Model[index].ATT5Score
            </td>
            <td>
                @Model[index].ATT6/@Model[index].ATT6Score
            </td>
            <td>
                @Model[index].ATT7/@Model[index].ATT7Score
            </td>
            <td>
                @Model[index].ATT8/@Model[index].ATT8Score
            </td>
            <td>
                @Model[index].ATT9/@Model[index].ATT9Score
            </td>
            <td>
                @Model[index].ATT10/@Model[index].ATT10Score
            </td>
            <td>
                @Model[index].ATT11/@Model[index].ATT11Score
            </td>
            <td>
                @Model[index].ATT12/@Model[index].ATT12Score
            </td>
            <td>
                @Model[index].ATT13/@Model[index].ATT13Score
            </td>
            <td>
                @Model[index].ATT14/@Model[index].ATT14Score
            </td>
            <td>
                @Model[index].ATT15/@Model[index].ATT15Score
            </td>
        </tr>

    }
                                                                                 </table>


                                                                                 <table>
                                                                                     <tr>
                                                                                         @foreach (var  item in new List<StandardTechnology>()
                                                                                         {
                                                                                             new STT1(),
                                                                                             new STT2(),
                                                                                             new STT3(),
                                                                                             new STT4(),
                                                                                             new STT5(),
                                                                                             new STT6(),
                                                                                             new STT7(),
                                                                                             new STT8(),
                                                                                             new STT9()
                                                                                         })
                                                                                         {
                                                                                             <td title="@item.name" align="center" id="@item.name">

                                                                                                 <div class="sttcss @{@item.name}False"><span>@item.name <br /> @item.desc</span>
                                                                                                                      </div>
                                                                                              </td>

                                                                                         }
                                                                                     </tr>
                                                                                     <tr>
                                                                                         <td>
                                                                                             @Model[0].STT1
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT2
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT3
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT4
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT5
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT6
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT7
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT8
                                                                                         </td>
                                                                                         <td>
                                                                                             @Model[0].STT9
                                                                                         </td>
 
                                                                                     </tr>
                                                                                 </table>




<div>
</div>


@*@foreach (var item in Model)*@
@*{*@
@*    <div>*@
@*        @item.count*@
@*    </div>*@
@*}*@