@model List<GaiaDbContext.Models.HomeViewModels.MatchInfoModel>

@{
    string adminType = this.Context.Request.Query["isAdmin"];
}

@{
    ViewBag.Title = "比赛列表";

    if (adminType=="1")
    {
        Layout = "_LayoutAdmin";
    }
    else
    {
        Layout = "_Layout";
    }

}

<script src="/js/angular.min.js"></script>


<div ng-app="myApp" ng-controller="myCtrl">
    
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-table red"></i><span class="break"></span><strong></strong></h2>
  
        <a href="/MatchInfo/AddMatch">添加比赛</a>

    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>标题</td>
                <td>报名人数</td>
                <td>报名截止时间</td>
                <td>开始时间</td>
                <td>结束时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td><a ng-click="showMatchInfo(@item.Id);">@item.Name</a></td>
                    <td>@item.NumberNow/@item.NumberMax</td>
                    <td>@item.RegistrationEndTime</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                    <td>
                                        
                        <a class="btn btn-danger" href="#" ng-click="delMatch(@item.Id)">
                            <i class="fa fa-trash-o "></i> 

                        </a>

                    </td>
                </tr>

            }

            </tbody>
        </table>  
        @*        <ul class="pagination">*@
        @*            <li><a href="table.html#">Prev</a></li>*@
        @*            <li class="active">*@
        @*                <a href="table.html#">1</a>*@
        @*            </li>*@
        @*            <li><a href="table.html#">2</a></li>*@
        @*            <li><a href="table.html#">3</a></li>*@
        @*            <li><a href="table.html#">4</a></li>*@
        @*            <li><a href="table.html#">5</a></li>*@
        @*            <li><a href="table.html#">Next</a></li>*@
        @*        </ul>     *@
    </div>
</div>





    <div class="modal fade" id="matchInfoModal" tabindex="-1" role="dialog" aria-labelledby="myMatchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMatchModalLabel">
                        详细信息
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>标题</td>
                            <td>{{matchData.matchInfoModel.name}}</td>
                        </tr>
                        <tr>
                            <td>介绍</td>
                            <td>{{matchData.matchInfoModel.contents}}</td>
                        </tr>
                        <tr>
                            <td>报名人数</td>
                            <td>{{matchData.matchInfoModel.numberNow}}/{{matchData.matchInfoModel.numberMax}}</td>
                        </tr>

                        <tr>
                            <td>报名截止时间</td>
                            <td>{{matchData.matchInfoModel.registrationEndTime}}</td>
                        </tr>
                        <tr>
                            <td>开始时间</td>
                            <td>{{matchData.matchInfoModel.startTime}}</td>
                        </tr>
                        <tr>
                            <td>报名人员</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="x in matchData.matchJoinModels">{{x.username}}-{{x.addTime}}</li>
                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                    <button class="btn btn-default" ng-click='joinMatch();'>报名</button>
                    <button class="btn btn-default" ng-click='exitMatch();'>取消报名</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="queryAltTile">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope, $http) {

        $scope.showMatchInfo = function (id) {
            $http.post("/MatchInfo/ShowInfo/" + id, "{}")
                .then(function (success) {
                    $scope.matchData = success.data.data;
                    $("#matchInfoModal").modal();
                },
                function (error) {

                });
        };
        $scope.delMatch = function (id) {
            $http.post("/MatchInfo/DelMatch/" + id, "{}")
                .then(function (success) {
                    window.location.reload();
                },
                function (error) {

                });
        };

        $scope.joinMatch = function () {
            $http.post("/MatchInfo/JoinMatch/" + $scope.matchData.matchInfoModel.id, "{}")
                .then(function (success) {
                    if (success.data.info.state === 200) {
                        alert("报名成功");
                        $("#matchInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                function (error) {

                });
        };

        $scope.exitMatch = function () {
            $http.post("/MatchInfo/ExitMatch/" + $scope.matchData.matchInfoModel.id, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("取消成功");
                        $("#matchInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                function (error) {

                });
        };

    });

</script>