@model List<GaiaDbContext.Models.HomeViewModels.MatchInfoModel>
@inject IHtmlLocalizer<SharedResources> localizer;

@{
    string adminType = this.Context.Request.Query["isAdmin"];
    bool isAdmin = adminType == "1";
}

@{
    ViewBag.Title = @localizer["比赛列表"];

    if (isAdmin)
    {
        Layout = "_LayoutAdmin";
    }
    else
    {
        Layout = "_Layout";
    }

}

<script src="/js/angular.min.js"></script>


<div ng-app="myApp" ng-controller="myCtrl">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-table red"></i><span class="break"></span><strong></strong></h2>
            @if (isAdmin)
            {

                <a href="/MatchInfo/AddMatch">添加比赛</a>

                <a href="/MatchInfo/ScoreAll">全部计分</a>

            }

            @*            <form>*@
            @*                <div class="row">*@
            @*                    <div class="col-lg-8">*@
            @*                        <div class="input-group">*@
            @*                            <input type="text" class="form-control" placeholder="用户名" id="UserName" name="UserName" style="width: 200px">*@
            @*                            <span class="input-group-btn">*@
            @*                                <button class="btn btn-default" type="submit">搜索</button>*@
            @*                            </span>*@
            @*                        </div>*@
            @*                    </div>*@
            @*                </div>*@
            @*            </form>*@

                <a href="/MatchInfo/UserScoreTotal">@localizer["用户总分"]</a>

            <a href="/GameInfo/FactionStatisticsMatch">@localizer["种族统计"]</a>

            <div>
                <span>@localizer["Match_Index_Info"]部分玩家由于drop前科被禁止报名，需要重新激活，请联系管理员说明</span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>@localizer["Match_Index_Title"]</td>
                        <td>@localizer["Match_Index_PlayersNum"]</td>
                        <td>@localizer["Match_Index_GamesNum"]</td>
                        <td>@localizer["Match_Index_Champion"]</td>
                        <td>@localizer["Match_Index_UsersList"]</td>
                        @*                        <td>报名截止时间</td>*@
                        @*                        <td>开始时间</td>*@
                        @*                        <td>结束时间</td>*@
                        <td>@localizer["Match_Index_Operate"]</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="/MatchInfo/MatchShow/@item.Id">@item.Name</a></td>
                            <td>@item.NumberNow/@item.NumberMax</td>
                            <td>@item.MatchFinishNumber/@item.MatchTotalNumber</td>
                            <td>@item.Champion</td>
                            <td>@item.UserList</td>

                            @*                            <td>@item.RegistrationEndTime</td>*@
                            @*                            <td>@item.StartTime</td>*@
                            @*                            <td>@item.EndTime</td>*@
                            <td>





                                <a class="btn btn-danger" href="#" ng-click="showMatchInfo(@item.Id);">
                                    @localizer["查看报名"]
                                </a>

                                @if (isAdmin)
                                {
                                    <a class="btn btn-danger" href="#" ng-click="showUserToMatch(@item.Id)">
                                        添加用户
                                    </a>

                                    <a class="btn btn-danger" href="#" ng-click="showGameToMatch(@item.Id)">
                                        添加比赛
                                    </a>

                                    <a class="btn btn-danger" href="#" ng-click="scoreMatch(@item.Id)">
                                        计分
                                    </a>
                                    if (@item.State == 0)
                                    {
                                        <a class="btn btn-danger" href="#" ng-click="setJoin(@item.Id,1)">
                                            禁止报名
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" href="#" ng-click="setJoin(@item.Id,0)">
                                            允许报名
                                        </a>
                                    }


                                    <a class="btn btn-danger" href="/MatchInfo/AddMatch/@item.Id">
                                        编辑
                                    </a>

                                    <a class="btn btn-danger" href="#" ng-click="delMatch(@item.Id)">
                                        <i class="fa fa-trash-o "></i>
                                    </a>

                                }


                            </td>
                        </tr>

                    }

                </tbody>
            </table>

        </div>
    </div>





    <div class="modal fade" id="matchInfoModal" tabindex="-1" role="dialog" aria-labelledby="myMatchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMatchModalLabel">
                        @localizer["详细信息"]
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>@localizer["Match_Index_Title"]</td>
                            <td>{{matchData.matchInfoModel.name}}</td>
                        </tr>
                        <tr>
                            <td>@localizer["比赛介绍"]</td>
                            <td>{{matchData.matchInfoModel.contents}}</td>
                        </tr>
                        <tr>
                            <td>@localizer["Match_Index_PlayersNum"]</td>
                            <td>{{matchData.matchInfoModel.numberNow}}/{{matchData.matchInfoModel.numberMax}}</td>
                        </tr>

                        @*                        <tr>*@
                        @*                            <td>报名截止时间</td>*@
                        @*                            <td>{{matchData.matchInfoModel.registrationEndTime}}</td>*@
                        @*                        </tr>*@
                        @*                        <tr>*@
                        @*                            <td>开始时间</td>*@
                        @*                            <td>{{matchData.matchInfoModel.startTime}}</td>*@
                        @*                        </tr>*@
                        <tr>
                            <td>@localizer["Match_Index_UsersList"]</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="x in matchData.matchJoinModels">{{x.username}}-{{x.addTime}}-{{x.score}}</li>
                                </ul>

                            </td>
                        </tr>

                    </table>
                    <button class="btn btn-default" ng-click='joinMatch();' ng-show="matchData.matchInfoModel.state==0">@localizer["Match_Index_Join"]</button>
                    <button class="btn btn-default" ng-click='exitMatch();' ng-show="matchData.matchInfoModel.state==0">@localizer["Match_Index_Exit"]</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @localizer["取消"]
                    </button>
                    <button type="button" class="btn btn-primary" id="queryAltTile">
                        @localizer["确定"]
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="gamesInfoModal" tabindex="-1" role="dialog" aria-labelledby="mygamesInfoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="mygamesInfoModal">
                        添加游戏
                    </h4>
                </div>
                <div class="modal-body">

                    游戏id:<input id="gameid" name="gameid" ng-model="gameid" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="addgameToMatch" ng-click='addGameToMatch()' ;>
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="usersInfoModal" tabindex="-1" role="dialog" aria-labelledby="myusersInfoModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myusersInfoModal">
                        添加用户
                    </h4>
                </div>
                <div class="modal-body">

                    用户名称:<input id="username" name="username" ng-model="username" />

                    <button type="button" class="btn btn-primary" id="addUserFromGame" ng-click='addUserFromGame()' ;>
                        从比赛获取
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="adduserToMatch" ng-click='addUserToMatch()' ;>
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    var app = angular.module('myApp', []);

    var matchId = 0;

    app.controller('myCtrl', function ($scope, $http) {

        //显示
        $scope.showMatchInfo = function (id) {
            $http.post("/MatchInfo/ShowInfo/" + id, "{}")
                .then(function (success) {
                    $scope.matchData = success.data.data;
                    $("#matchInfoModal").modal();
                },
                    function (error) {

                    });
        };
        //删除
        $scope.delMatch = function (id) {
            $http.post("/MatchInfo/DelMatch/" + id, "{}")
                .then(function (success) {
                    window.location.reload();
                },
                    function (error) {

                    });
        };
        //加入
        $scope.joinMatch = function () {
            $http.post("/MatchInfo/JoinMatch/" + $scope.matchData.matchInfoModel.id, "{}")
                .then(function (success) {
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        $("#matchInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };
        //退出
        $scope.exitMatch = function () {
            $http.post("/MatchInfo/ExitMatch/" + $scope.matchData.matchInfoModel.id, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        $("#matchInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };

        //显示添加游戏到比赛
        $scope.showGameToMatch = function (id) {
            matchId = id;
            $("#gamesInfoModal").modal();
        };
        //提交游戏到比赛
        $scope.addGameToMatch = function () {
            $http.post("/MatchInfo/AddGameToMatch/" + matchId + "?gameid=" + $scope.gameid, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        $("#gamesInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };

        //显示添加用户到比赛
        $scope.showUserToMatch = function (id) {
            matchId = id;
            $("#usersInfoModal").modal();
        };
        //提交用户到比赛
        $scope.addUserToMatch = function () {
            $http.post("/MatchInfo/AddUserToMatch/" + matchId + "?username=" + $scope.username, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        $("#usersInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };
        //提交游戏用户到比赛
        $scope.addUserFromGame = function () {
            $http.post("/MatchInfo/AddUserFromGame/" + matchId, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        $("#usersInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };

        //比赛计分
        $scope.scoreMatch = function (id) {
            $http.post("/MatchInfo/ScoreMatch/" + id, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        //$("#usersInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };

        //setJoin
        //设置报名权限
        $scope.setJoin = function (id, state) {
            $http.post("/MatchInfo/SetJoin/" + id, "?state=" + state, "{}")
                .then(function (success) {
                    //$scope.matchData = success.data.data;
                    //$("#matchInfoModal").modal();
                    if (success.data.info.state === 200) {
                        alert("@localizer["成功"]");
                        //$("#usersInfoModal").modal("hide");
                        window.location.reload();

                    } else {
                        alert(success.data.info.message);
                    }
                },
                    function (error) {

                    });
        };

    });

</script>