@using GaiaProject.Data
@using Microsoft.EntityFrameworkCore
@using GaiaDbContext.Models.AccountViewModels

@model GaiaProject.Controllers.UserFriendController.FriendInfo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">好友</div>


    <!-- List group -->
    <ul class="list-group">

        @foreach (var item in @Model.WhiteList)
        {
            <li class="list-group-item" id="@item.UserNameTo">
                @{@item.UserNameTo}(@item.Remark)
                  <a href="/GameInfo?username=@item.UserNameTo">游戏</a>
                  <a href="/GameInfo/FactionList?username=@item.UserNameTo">种族</a>
                  <button type="button" class="btn btn-default" onclick="delFriend('@item.UserNameTo',1)">删除好友</button>
                  </li>
        }
                  </ul>
    
                  <div class="panel-body">

                  </div>
</div>



                  <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">不同场用户(优先级高于好友)</div>


                      <!-- List group -->
                      <ul class="list-group">

                          @foreach (var item in @Model.BlackList)
                          {
                              <li class="list-group-item" id="@item.UserNameTo">
                                  @{@item.UserNameTo}(@item.Remark)
                                    <a href="/GameInfo?username=@item.UserNameTo">游戏</a>
                                    <a href="/GameInfo/FactionList?username=@item.UserNameTo">种族</a>
                                    <button type="button" class="btn btn-default" onclick="delFriend('@item.UserNameTo',2)">解除屏蔽</button>
                                    </li>
                          }
                                    </ul>
    

</div>


                                    <div style="width: 800px">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="用户名" id="uf_username">
                                            <input type="text" class="form-control" placeholder="备注" id="uf_remark">

                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="addFriend(1)">添加好友</button>
                                                <button class="btn btn-default" type="button" onclick="addFriend(2)">屏蔽用户</button>
                                            </span>
                                        </div>
                                    </div>

<script>
    //添加好友
    function addFriend(Type) {
        var value = $("#uf_username").val();
        var remark = $("#uf_remark").val();
        if (value === "") {
            alert("请输入用户名");
            return;
        }
        if (remark === "") {
            remark = value;
        }
        $.post("/UserFriend/AddFriend", "UserNameTo=" + value + "&Remark=" + remark + "&Type=" + Type, function (data) {
            if (data.info.state === 200) {
                //alert("添加成功");
                window.location.reload();
            } else {
                alert(data.info.message);
            }
        });
    }

    ///删除
    function delFriend(name, Type) {
        $.post("/UserFriend/DelFriend", "UserNameTo=" + name +"&Type="+Type, function (data) {
            if (data.info.state === 200) {
                //alert("添加成功");
                window.location.reload();
                //$("#" + name).parent().remove();
            } else {
                alert(data.info.message);
            }
        });
    }
</script>