@using GaiaDbContext.Models
@model List<GaiaDbContext.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "用户列表";
    Layout = "_LayoutAdmin";
}



<div class="panel panel-default">
    <div class="panel-heading">
        <h2><i class="fa fa-table red"></i><span class="break"></span><strong>用户列表</strong></h2>
  
        <form>
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="用户名" id="UserName" name="UserName" style="width: 200px">
                        <input type="text" class="form-control" placeholder="邮箱" id="Email" name="Email" style="width: 200px">
                        <input type="text" class="form-control" placeholder="禁止参加群联赛" id="isallowmatch" name="isallowmatch" style="width: 200px">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>用户名</td>
                <td>邮箱</td>
                <td>用户组</td>
                <td>编辑</td>
            </tr>
            </thead>
            <tbody>
            @{ bool isAdmin = UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/GameInfo?username=@item.UserName">@item.UserName</a>
                    </td>
                    <td>@item.Email</td>
                    <td>
                        @if (@item.groupid == 1)
                        {
                            <span>管理员</span>
                        }
                        else
                        {
                            <span>会员</span>
                        }
                    </td>

                    <td>
                        @if (isAdmin)
                        {
                            <a class="btn btn-info" href="#"  onclick="resetpwd('@item.Id')">
                                重置密码
                            </a>

                             if (@item.isallowmatch == 1)
                             {
                                 <a class="btn btn-info" href="#"  onclick="setmatch('@item.Id',0)">
                                     禁止参加群联赛
                                 </a>
                             }
                             else
                             {
                                 <a class="btn btn-info" href="#"  onclick="setmatch('@item.Id',1)">
                                     允许参加群联赛
                                 </a>
                             }
                           
@*                            <a class="btn btn-info" href="#"  onclick="setPayGrade('@item.Id')">*@
@*                                付费用户*@
@*                            </a>*@
                        }
                        

                    </td>
                </tr>

            }
                        
            </tbody>
        </table>  
        @*        <ul class="pagination">*@
        @*            <li><a href="table.html#">Prev</a></li>*@
        @*            <li class="active">*@
        @*                <a href="table.html#">1</a>*@
        @*            </li>*@
        @*            <li><a href="table.html#">2</a></li>*@
        @*            <li><a href="table.html#">3</a></li>*@
        @*            <li><a href="table.html#">4</a></li>*@
        @*            <li><a href="table.html#">5</a></li>*@
        @*            <li><a href="table.html#">Next</a></li>*@
        @*        </ul>     *@
    </div>
</div>







@Html.Partial("Partial_PageInfo", Model)

<script>
    //重置密码
    function resetpwd(id) {
        $.post("/UserFriend/ResetPwd/"+id, "", function(data) {
            //alert(data);
            if (data.info.state === 200 && data.info.message ==="Succeeded") {
                alert("密码已经重置为12345678");
            }
        });
    }
    //联赛
    function setmatch(id,state) {
        $.post("/UserFriend/SetMatch/"+id+"?state="+state, "", function(data) {
            //alert(data);
            if (data.info.state === 200 && data.info.message ==="Succeeded") {
                location.reload();
            }
        });
    }

    //设置成付费用户
//    function setPayGrade(id) {
//        $.post("/UserFriend/ResetPwd/"+id, "", function(data) {
//            //alert(data);
//            if (data.info.state === 200 && data.info.message ==="Succeeded") {
//                alert("密码已经重置为12345678");
//            }
//        });
//    }
</script>