@using Gaia.Model.Final
@using GaiaDbContext.Models
@using Microsoft.AspNetCore.Http

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResources> localizer;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @if (ViewData["Title"] != null && ViewData["Title"].ToString().Equals("viewgame"))
    {
        <meta name="viewport" content="width=1000" />
    }
    else
    {
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    }

    @*<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=2.0, user-scalable=yes" />*@
        <title>@ViewData["Title"] - @localizer["盖亚计划"]</title>



    @*@await Html.PartialAsync("_Layout_Style1")*@
    @await Html.PartialAsync("_Layout_Style1")


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@localizer["盖亚计划"]</a>
            </div>
            <div class="navbar-collapse collapse">



                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="GameHallList">@localizer["大厅"]</a></li>
                    
                    <li><a asp-area="" asp-controller="MatchInfo" asp-action="Index">@localizer["Match"]</a></li>

                    <li><a href="/GameInfo/Index?isAdmin=2">@localizer["公开游戏"]</a></li>


                    <li><a asp-area="" asp-controller="News" asp-action="Index">@localizer["讨论"]</a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@localizer["帮助"] <span class="caret"></span></a>
                        <ul class="dropdown-menu"> 
                            
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">@localizer["使用帮助"]</a></li>
                            <li>
                                <a href="/Home/About">@localizer["种族介绍"]</a>
                            </li>
                            <li>
                                <a href="/News/Index?type=@NewsConfig.TYPE_FEEDBACK">@localizer["建议和反馈"]</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@localizer["统计"] <span class="caret"></span></a>
                        <ul class="dropdown-menu"> 
                            <li>
                                <a href="/GameInfo/UserScoreAvg?usercount=4">@localizer["玩家统计"]</a>
                            </li>
                            <li>
                                <a href="/GameInfo/FactionStatistics?usercount=4">@localizer["种族统计"]</a>
                            </li>

                            <li><a href="/GameInfo/FactionList?type=2&usercount=4">@localizer["种族高分"]</a></li>

                            <li>
                                <a href="/GameInfo/FactionUserRateStatistics?usercount=4">@localizer["种族胜率"]</a>
                            </li>

                            <li>
                                <a href="/GameInfo/TTStatistics">@localizer["科技版"]</a>
                            </li>
                            


                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@localizer["changelanguage"] <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="/Manage/ChangeLanguage/zh-CN">@localizer["Chinese"]</a></li>
                            <li>
                                <a href="/Manage/ChangeLanguage/en">@localizer["English"]</a>
                            </li>
                            <li>
                                <a href="/Manage/ChangeLanguage/pt-BR">@localizer["Portuguese"]</a>
                            </li>
                        </ul>
                    </li>


                    @if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@localizer["管理"] <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>

                                    @*                                    <a href="/GameInfo/Index?isAdmin=1&GameStatus=0">未结束游戏</a>*@
                                    @*                                    <a href="/GameInfo/Index?isAdmin=1&GameStatus=8">全部结束游戏</a>*@

                                    <a href="/GameInfo/FactionList?type=1">@localizer["全部种族"]</a>

                                    <a href="/Admin/NewsIndex">@localizer["进入管理后台"]</a>

                                </li>

                            </ul>
                        </li>
                    }

                </ul>

                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - GaiaProject  &nbsp;&nbsp;&nbsp;    蜀ICP备18004862号</p>
        </footer>
    </div>


    <script src="~/lib/localeplanet/icu.js"></script>
    <script src="~/lib/localeplanet/translate.js"></script>
    <script src="~/js/messages.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
