
@model IEnumerable<KeyValuePair<string, GaiaCore.Gaia.GaiaGame>>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@inject UserManager<ApplicationUser> UserManager


<table class="table table-condensed">
    <thead>
        <tr>
            <td>局名</td>
            <td>你的种族</td>
            <td>上一次行动时间</td>
            <td>回合</td>
            <td>等待的玩家</td>
            <td>分数</td>
            <td>版本</td>
        </tr>
    </thead>
    <tbody>
    @{ string color = null;
        var userName = @UserManager.GetUserName(User);}
    @foreach (var item in Model.OrderByDescending(x => x.Value.LastMoveTime))
    {
        color = item.Value.GetCurrentUserName() == userName ? "#CD950C" : "";
        <tr style="background: @color">
            <td><a href="/home/ViewGame/@item.Key">@item.Key</a></td>
            @if (item.Value.UserDic.ContainsKey(User.Identity.Name))
            {
                <td>@string.Join(",", @item.Value.UserDic[User.Identity.Name].Select(x => x.ChineseName))</td>
            }
            else
            {
                <td>@string.Join(",", @item.Value.FactionList.Select(x => x.ChineseName))</td>
            }
            <td>@item.Value.GetLastMovePreriod()</td>
            <td>@item.Value.GameStatus.RoundCount</td>
            <td>@item.Value.GetCurrentUserName()</td>
            @if (item.Value.UserDic.ContainsKey(User.Identity.Name))
            {
                <td>@string.Join(",", @item.Value.UserDic[User.Identity.Name].Select(x => x.Score))</td>
            }
            else
            {
                <td> @string.Join(",", @item.Value.FactionList.Select(x => x.Score)) </td >
            }
            <td>V@(item.Value.version)</td>
        </tr>
    }
    </tbody>
</table>

