@using GaiaCore.Gaia
@model GaiaCore.Gaia.GaiaGame
@inject UserManager<ApplicationUser> UserManager


@{ bool isRound = @Model.GameStatus.RoundCount > 0 && @Model.GetCurrentUserName() == User.Identity.Name;}


<div class="row">
    <div class="col-md-7" id="myCanvasDiv">
        <canvas id="myCanvas" width="950" height="740" style="border:1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="text-align: center">
                    当前回合玩家:
                    @foreach (var orderPlayer in Model.FactionList.Except(Model.FactionNextTurnList))
                    {
                        <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
                    }
                    跳过回合玩家:
                    @foreach (var orderPlayer in Model.FactionNextTurnList)
                    {
                        <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
                    }
                </div>

                <div help="回合计分">
                    <div id="round">
                        <script src="~/lib/cicular/circular.min.js"></script>
                        <link href="~/lib/cicular/cicular.css" rel="stylesheet" />
                        <style type="text/css">
                            .demoOut {
                                width: 320px;
                                height: 320px;
                                margin-top: 200px;
                                position: relative;
                                margin-left: auto;
                                margin-right: auto;
                            }

                            .demo {
                                width: 320px;
                                height: 320px;
                                position: relative;
                                margin-left: auto;
                                margin-right: auto;
                            }

                                .demo a {
                                    text-decoration: none;
                                    color: white;
                                }

                            .demoOut .btn {
                                position: absolute;
                                height: 40%;
                                width: 40%;
                                top: 30%;
                                left: 30%;
                                background-color: royalblue;
                                color: white;
                                text-align: center;
                                border-radius: 50%;
                            }

                                .demoOut .btn span {
                                    font-size: 2vh;
                                    position: absolute;
                                    top: 30%;
                                    left: 20%;
                                }
                        </style>
                        <div id="demo01" class="demoOut">
                            <div class="demo">
                                <ul>
                                    @for (int i = 0; i < Model.RSTList.Count; i++)
                                    {
                                        if (@Model.GameStatus.RoundCount >= i + 2)
                                        {
                                            <li>
                                                <a href="#" style="background-color: #c3c3c3;">
                                                    @*<img src="images/01.png" width="50" height="50" />*@
                                                    <p style="font-size: 15px">@Model.RSTList[i].desc.Split('-')[0]</p>
                                                    <p style="font-size: 15px">@Model.RSTList[i].desc.Split('>')[1]</p>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#" style="background-color: #a2c449;">
                                                    @*<img src="images/01.png" width="50" height="50" />*@
                                                    <p style="font-size: 15px">@Model.RSTList[i].desc.Split('-')[0]</p>
                                                    <p style="font-size: 15px">@Model.RSTList[i].desc.Split('>')[1]</p>
                                                </a>
                                            </li>
                                        }

                                    }
                                </ul>

                            </div>
                            <div class="btn open" style="background-color: gray;">
                                <span>回合计分</span>
                                @*@foreach (var item in Model.FSTList)
                                    {
                                        <br/> @item.desc<br/>
                                    }*@
                            </div>
                        </div>
                        <script>
                            $(document).ready(function (e) {

                                var circ = $("#demo01 .demo").circular({
                                    centerDeg: 90,//扇形中心线角度，单位：度，默认：90
                                    allDeg: 180,//整个扇形角度，单位：度，默认：180
                                    inner: 50,//内部圆形百分比，默认：50
                                    hidden: false,//开始时是否隐藏，默认：false
                                    animation: "zoom",//动画类型，默认：zoom，其他：clockwise：顺时针展开，counterclockwise：逆时针展开，bothside：两侧展开
                                    spacing: 3,//间距，单位：度，默认：0
                                    time: 0.5//动画时间，单位：秒，默认：0.5
                                });


                                $("#demo01 .btn").click(function () {
                                    if ($(this).hasClass("open")) {

                                        circ.toHidden();//隐藏方法

                                        $(this).removeClass("open");
                                        $(this).css("background-color", "royalblue");
                                    } else {

                                        circ.toShow();//显示方法

                                        $(this).addClass("open");
                                        $(this).css("background-color", "gray");
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="panel panel-default" style="display: none">
                        <div class="panel-heading">回合计分板</div>


                        <ul class="list-group">
                            @for (int i = 0; i < Model.RSTList.Count; i++)
                            {

                                if (@Model.GameStatus.RoundCount >= i + 2)
                                {
                                    <li class="list-group-item" style="background-color: #c3c3c3">Round @(i + 1) @Model.RSTList[i].desc</li>
                                }
                                else
                                {
                                    <li class="list-group-item">Round @(i + 1) @Model.RSTList[i].desc</li>
                                }
                            }

                        </ul>

                    </div>

                </div>


            </div>



        </div>
    </div>
    <div class="col-md-5" id="playerFaction">

        @foreach (var item in Model.FactionList.OrderBy(f=>f.UserName != @UserManager.GetUserName(User)).ToList())
        {
            <script type="text/javascript">
        $(function () {
            var span = '<span style="background-color: @item.ColorCode">&nbsp;&nbsp;</span>&nbsp;';
            $("#tt_l" + @item.TransformLevel).find("td").eq(1).append(span);
            $("#tt_l" + @item.ShipLevel).find("td").eq(2).append(span);
            $("#tt_l" + @item.AILevel).find("td").eq(3).append(span);
            $("#tt_l" + @item.GaiaLevel).find("td").eq(4).append(span);
            $("#tt_l" + @item.EconomicLevel).find("td").eq(5).append(span);
            $("#tt_l" + @item.ScienceLevel).find("td").eq(6).append(span);
        });

            </script>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="badge">@item.Score VP</span> <span style="background-color: @item.ColorCode">@item.ChineseName @item.FactionName @item.UserName</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        下回合收入:
                        <div class="btn-group" role="group" aria-label="First group">
                            @foreach (var income in item.CalNextTurnIncome())
                            {
                                <button type="button" class="btn btn-default">@income.Key:@income.Value</button>
                            }
                            @if (item is MadAndroid)
                            {
                                <button type="button" class="btn btn-default">能力是否使用:@((item as MadAndroid).IsMadAndroidAbilityUsed) </button>
                            }
                            @if (item is BalTak)
                            {
                                <button type="button" class="btn btn-default">盖亚区盖亚数量:@((item as BalTak).GaiasGaiaArea.Count) </button>
                            }
                            @if (item is Taklons)
                            {
                                <button type="button" class="btn btn-default">智慧石所在区域:@((item as Taklons).BigStone) </button>
                            }
                        </div>
                    </div>

                    <div class="row">
                        @if (@Model.GameStatus.RoundCount > 0 && @isRound && item.FactionName == Model.FactionList[Model.GameStatus.PlayerIndex].FactionName)
                        {
                            if (item.FactionName == FactionName.HadschHalla && @item.StrongHold == null) //圣擒族
                            {
                                <div class="col-lg-6">
                                    <div class="input-group">

                                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListHadsch, "code", "name"), "--要塞行动--", new { @class = "btn dropdown-toggle form-control", @id = "StrongHoldKs", @syntax = "convert {0}" })

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#StrongHoldKs">前</button>
                                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#StrongHoldKs">后</button>                                          </span>
                                    </div>
                                </div>
                            }
                            else if (item.FactionName == FactionName.Nevla) //超星人
                            {
                                <div class="col-lg-6">
                                    <div class="input-group">

                                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListNevla, "code", "name"), "--快速行动--", new { @class = "btn dropdown-toggle form-control", @id = "NevlaKs", @syntax = "convert {0}" })

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#NevlaKs">前</button>
                                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#NevlaKs">后</button>                                        </span>
                                    </div>
                                </div>
                            }
                            else if (item.FactionName == FactionName.BalTak) //炽炎
                            {
                                <div class="col-lg-6">
                                    <div class="input-group">

                                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListBalTak, "code", "name"), "--快速行动--", new { @class = "btn dropdown-toggle form-control", @id = "BalTakKs", @syntax = "convert {0}" })

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#BalTakKs">前</button>
                                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#BalTakKs">后</button>                                            </span>
                                    </div>
                                </div>
                            }
                            else if (item.FactionName == FactionName.Taklons) ////利爪
                            {
                                <div class="col-lg-6">
                                    <div class="input-group">

                                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListTaklons, "code", "name"), "--快速行动--", new { @class = "btn dropdown-toggle form-control", @id = "TaklonsKs", @syntax = "convert {0}" })

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#TaklonsKs">前</button>
                                            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#TaklonsKs">后</button>    
                                        </span>
                                    </div>
                                </div>
                            }
                        }
                        <div>
                            @foreach (var leech in item.LeechPowerQueue)
                            {
                                <div>From @leech.Item2 leech @leech.Item1 power</div>
                            }

                        </div>
                    </div>



                    <div>
                        <table class="table" style="font-size: 18px">
                            <tr>
                                <td>@item.Credit C </td>
                                <td>@item.Knowledge K</td>
                                <td>@item.Ore O</td>
                                <td>@item.QICs Q</td>
                                <td>@item.PowerTokenGaia PG</td>
                                <td></td>
                                <td>@item.PowerToken1/@item.PowerToken2/@item.PowerToken3 pw</td>
                            </tr>
                            <tr>
                                <td>M </td>
                                <td>TC</td>
                                <td>RL</td>
                                <td>AC1</td>
                                <td>AC2</td>
                                <td>SH</td>
                                <td>Gaia</td>
                            </tr>
                            <tr>
                                <td>@(8 - item.Mines.Count)/8</td>
                                <td>@(4 - item.TradeCenters.Count)/4</td>
                                <td>@(3 - item.ResearchLabs.Count)/3</td>
                                <td>
                                    @if (item.Academy1 == null)
                                    {
                                        <span>1/1</span>
                                    }
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>
                                    @if (item.Academy2 == null)
                                    {
                                        <span>1/1</span>}
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>
                                    @if (item.StrongHold == null)
                                    {
                                        <span>1/1</span>}
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>@item.Gaias.Count</td>
                            </tr>
                        </table>
                    </div>


                <div help="回合/特权/科技版">
                    @foreach (var it in item.GameTileList.OrderBy(a => a.showRank))
                    {
                        <div class="col-md-3">
                            @if (it.typename == "rbt")
                            {

                                @if (it.IsUsed)
                                 {
                                     <div class='rbtcss rbtusedcss @it.name @{@it.name}used'>
                                                                                  <span>@it.name<br /> @it.desc.Split(',')[0]<br /> @it.desc.Split(',')[1]</span>
                                                                              </div>
                                 }
                                 else
                                 {
                                     <div class="rbtcss  @it.name" id="@item.FactionName@it.name">
                                         <span>@it.name<br /> @it.desc.Split(',')[0]<br /> @it.desc.Split(',')[1]</span>
                                     </div>
                                     @if (it.CanAction)
                                      {
                                          <script>
                                              $("#@item.FactionName@it.name").click(function() {
                                                  //
                                                  selectMapPos('@it.name');
                                              })
                                          </script>
                                      }

                                 }

                            }

                            else if (it.typename == "stt")
                            {
                                <div class="sttcss sttusedcss    @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                                                                       <span>@it.GetType().Name<br /> @it.desc</span>
                                                                   </div>
                            }
                            else if (it.typename == "att")
                            {
                                <div class="attcss attusedcss    @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                                                                       <span>@it.GetType().Name<br /> @it.desc</span>
                                                                   </div>
                            }
                            else if (it.typename == "BalAC2")
                            {
                                <div class="BalAC2False @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                                                           <span>@it.GetType().Name<br /> @it.desc</span>
                                                       </div>
                            }
                            else if (it.typename == "ac")
                            {
                                <div class="AC2False @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                                                           <span>@it.GetType().Name<br /> @it.desc</span>
                                                       </div>
                            }
                            else if (it.typename == "MapAction")
                            {
                                <div class="MapAction  Map@{@it.IsUsed}" syntax="action " id="@it.GetType().Name@{@it.IsUsed}">
                                                                                                                      <span>@it.GetType().Name<br /> @it.desc</span>                                                                                                                </div>
                            }
                            else
                            {

                                if (it.IsUsed)
                                {
                                    <div class="altcss altusedcss ">@it.GetType().Name<br />  @it.desc</div>
                                }
                                else
                                {
                                    <div class="altcss ">@it.GetType().Name<br /> @it.desc</div>
                                    @*<div>@it.GetType()</div>*@
                                }
                            }
                                                                                                                  </div>
                    }

                                                                                                                  </div>

                </div>
            </div>

    }

    </div>
</div>