@using GaiaCore.Gaia
@model GaiaCore.Gaia.GaiaGame
@inject IHtmlLocalizer<SharedResources> localizer


<!-- 模态框（Modal）选择地图 -->
<div class="modal fade" id="myModalCanves" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;height: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @localizer["请选择位置"]
                </h4>
            </div>
            <div class="modal-body" id="canvasSelectMap">

                <div>

                    <div class="btn-group" role="group" aria-label="..." id="alPosList">
                    </div>
                    <div style="display: none" id="allistdiv">
                        <div>
                            <span>@localizer["注"]:@localizer["Window_OpenMap_Info"]</span>
                        </div>
                        @Html.DropDownList("enumList", new SelectList(Model.ALTList.GroupBy(a => a.desc).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.GetType().Name) }), "name", "desc"), "--" + @localizer["请选择联邦板块"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "alSelectList", @syntax = "+" })
                    </div>
                    <div id="">
                        <select class="btn dropdown-toggle form-control" id="mapkjlist" name="enumList" syntax="advance " style="display: none">
                            <option value="">--@localizer["请选择升级科技"]--</option>
                            <option value="tf">@localizer["地形改造"]</option>
                            <option value="ship">@localizer["航行"]</option>
                            <option value="ai">@localizer["人工智能"]</option>
                            <option value="gaia">@localizer["盖亚计划"]</option>
                            <option value="eco">@localizer["经济"]</option>
                            <option value="sci">@localizer["科学"]</option>
                        </select>
                    </div>
                </div>
                <canvas id="myCanvasSelect" width="950" height="740" style="border: 1px solid #c3c3c3;">
                    Your browser does not support the canvas element.
                </canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    @localizer["取消"]
                </button>
                <button type="button" class="btn btn-primary" id="queryPosList">
                    @localizer["确定"]
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>





<!-- 信息确认对话框 -->
<div class="modal fade" id="querycfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">@localizer["提示信息"]</h4>
            </div>
            <div class="modal-body" id="">
                <p id="querytitle">@localizer["您确认要执行吗？"]</p>
                <p id="querysyntax"></p>
                <p id="querytishi"></p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@localizer["取消"]</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="queryHandinput">@localizer["手动输入"]</button>

                @if (Model.GameStatus.stage == Stage.ROUNDSTART)//如果是回合中
                {
                <button type="button" class="btn btn-default" data-dismiss="modal" id="queryAndPass">@localizer["执行并结束"]</button>
                }
                <a class="btn btn-success" data-dismiss="modal" id="querycfmModelYes">@localizer["立即执行"]</a>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 修改游戏命令 -->
<div class="modal fade" id="modifySyntaxModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">@localizer["修改指令"]</h4>
            </div>
            <div class="modal-body" id="">
                <input id="modifySyntaxModel_newcode"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@localizer["取消"]</button>

                <a class="btn btn-success" data-dismiss="modal" id="modifySyntaxModelYes">@localizer["确认"]</a>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->