@using GaiaCore.Gaia
@model GaiaCore.Gaia.GaiaGame
@using GaiaDbContext.Models

@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResources> localizer

@{ bool isRound = @Model.GameStatus.RoundCount > 0 && @Model.GetCurrentUserName() == User.Identity.Name;}


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="myCanvasDiv">


        <canvas id="myCanvas" width="950" height="740" style="border: 1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>

        @if (Model.GameStatus.stage != Stage.MAPROTATE)
        {
            <div>
                <ul class="list-group" style="width: 120px;position: absolute; z-index: 10; top: 0px; left: 15px;">
                    @for (int i = 0; i < Model.RSTList.Count; i++)
                    {
                        if (@Model.GameStatus.RoundCount == i + 1)
                        {
                            <li class="list-group-item" style="height: 35px;background-color: #CD950C;">@Model.RSTList[i].desc</li>
                        }
                        else if (@Model.GameStatus.RoundCount >= i + 2)
                        {
                            <li class="list-group-item" style="height: 35px;background-color: #c3c3c3;">@Model.RSTList[i].desc</li>
                        }
                        else
                        {
                            <li class="list-group-item" style="height: 35px">@Model.RSTList[i].desc</li>
                        }
                    }
                </ul>
            </div>

            <div style="position: absolute; z-index: 999;top: 1px;left:450px" id="gameAction">
                <div class="row" id="actBody">
                    @foreach (var item in Model.MapActionMrg.mapActList)
                    {
                        {
                            //string pwname = @item.GetType().Name;
                            string pwdesc = @item.desc;
                            string pwcssname;
                            if (pwdesc.Contains("Q"))
                            {
                                pwcssname = "actqcss";
                            }
                            else
                            {
                                pwcssname = "actpwcss";
                            }
                            if (item.IsUsed)
                            {
                                pwcssname += " actusedcss";
                            }
                            <div class="col-xs-6 col-md-2 @pwcssname" id="@item.GetType().Name" tishi="@item.desc"> <span style="font-size: 12px">@item.GetText()</span></div>
                        }

                    }

                </div>
                <div class="row" id="actConst">

                    @foreach (var name in new string[] { "-7pw", "-5pw", "-4pw", "-4pw", "-4pw", "-3pw", "-3pw", "-4Q", "-3Q", "-2Q" })
                    {
                        <div class="col-xs-6 col-md-2" style="height: 30px; width: 53px;">
                            <span style="text-align: center; color:#FFFFFF;">@name</span>
                        </div>
                    }
                </div>
            </div>

            <div style="position: absolute; z-index: 100; left: 770px;top: 700px">
                @localizer["当前回合玩家"]:
                @foreach (var orderPlayer in Model.FactionList.Except(Model.FactionNextTurnList))
    {
            <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
}

                <br />@localizer["跳过回合玩家"]:
                @foreach (var orderPlayer in Model.FactionNextTurnList)
    {
            <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
}
            </div>


            @Html.Partial("Partial_Game_TT", Model)
        }

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" id="playerFaction">
        <div class="panel panel-default">
            <table class="table">
                @foreach (var item in Model.LogEntityList.OrderByDescending(x => x.Row).Take(5))
                {
                    <tr>
                        <td>@item.ChineseName</td>
                        <td>@item.ResouceEnd?.m_score VP</td>

                        <td>@item.Syntax</td>
                    </tr>
                }

            </table>

        </div>


        @if (isRound)//行动区域显示
        {
            @Html.Partial("Partial_Game_Action", Model)
        }

        @{
            //我的位置
            int index = Model.FactionList.FindIndex(f => f.UserName == @UserManager.GetUserName(User));
            //玩家数量
            int playerCount = Model.FactionList.Count;
            if (index == -1)
            {
                index = 0;
            }
            else
            {
                //游戏未结束
                if (Model.GameStatus.status != Status.ENDED)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @localizer["备忘"]
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" rows="4" name="remark" id="remark" style="width: 100%"></textarea>
                                    @localizer["回合提示"]:<input type="checkbox" aria-label="" id="isTishi" name="isTishi" checked="checked">
                                    @*                                    自动刷新:<input type="checkbox" aria-label="" id="isTishi" name="isTishi" checked="checked">*@
                                    <button type="button" class="btn btn-default" style="width: 100px" id="saveremark">@localizer["保存"]</button>
                                </div>
                            </div>
                            <script>
                                //alert(userInfo.UserGameModel.isTishi);
                                if (userInfo.UserGameModel !== undefined) {
                                    $("#isTishi").attr("checked", userInfo.UserGameModel.isTishi);
                                    $("#remark").val(userInfo.UserGameModel.remark);
                                }
                                $("#saveremark").click(function () {

                                    $.post("/Ajax/SaveRemark/" + "@Html.Raw(Model.GameName)", "remark=" + $("#remark").val() + "&isTishi=" + $("#isTishi").is(':checked'), function(data) {
                                        if (data.info.state === 200) {
                                            alert("@localizer["保存成功"]");
                                        } else {
                                            alert(data.info.message);
                                        }
                                    });
                                });
                            </script>
                        </div>


                    </div>

                }

            }
        }

        @for (int i = 0; i < playerCount; i++)
        {

            @Html.Partial("Partial_Game_FactionItem", Model.FactionList[(index + i) % playerCount])//玩家区域显示

        }

    </div>
</div>