@using GaiaCore.Gaia
@using GaiaDbContext.Models

@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResources> localizer
@model Faction


@{
    bool isRound = @Model.GaiaGame.GameStatus.RoundCount > 0 && @Model.GaiaGame.GetCurrentUserName() == User.Identity.Name;
}
<script type="text/javascript">
    $(function () {
        var span = '<span style="background-color: @Model.ColorCode">&nbsp;&nbsp;</span>&nbsp;';
        $("#tt_l" + @Model.TransformLevel).find("td").eq(1).append(span);
        $("#tt_l" + @Model.ShipLevel).find("td").eq(2).append(span);
        $("#tt_l" + @Model.AILevel).find("td").eq(3).append(span);
        $("#tt_l" + @Model.GaiaLevel).find("td").eq(4).append(span);
        $("#tt_l" + @Model.EconomicLevel).find("td").eq(5).append(span);
        $("#tt_l" + @Model.ScienceLevel).find("td").eq(6).append(span);
    });

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @if (Model.UserGameModel?.paygrade > 0)
            {
                <img src="/images/user/potato.png" />
            }
            @if (Model?.dropType > 0)
            {
                <span>drop</span>
            }

            <span class="badge" onclick="faction_scoreShow('@Model.GaiaGame.GameName', '@Model.FactionName')">@Model.Score VP</span>

            <span style="background-color: @Model.ColorCode">
                <span class="color-@Model.FactionName">
                    <span onclick='window.open("/Home/About#@Model.FactionName");'>@localizer[Model.ChineseName] @Model.FactionName</span>
                </span>
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            @*<span onclick="faction_logShow('@Model.GaiaGame.GameName', '@Model.FactionName')">@Model.UserName</span>*@
            
            <span onclick='window.open("/GameInfo/FactionList?username=@Model.UserName");'>@Model.UserName</span>
        </h3>
    </div>
    <div class="panel-body">
        <div>
            @localizer["下回合收入"]:
            <div class="btn-group" role="group" aria-label="First group">
                @foreach (var income in @Model.CalNextTurnIncome())
                {
                    <button type="button" class="btn btn-default">@income.Key:@income.Value</button>
                }
                    <button type="button" class="btn btn-default">G @localizer["星球"]:@Model.GaiaPlanetNumber </button>
                    <button type="button" class="btn btn-default">@localizer["星球种类"]:@Model.GetPlanetTypeCount() </button>
                    <button type="button" class="btn btn-default">@localizer["星域"]:@Model.GetSpaceSectorCount()</button>
                    <button type="button" class="btn btn-default">@localizer["时常"]:@Model.GetClockPeriod()</button>
                    <button type="button" class="btn btn-default" onclick="dropFaction('@Model.GaiaGame.GameName','@Model.FactionName')">@localizer["drop"]</button>
                @if (@Model is MadAndroid)
                {
                    <button type="button" class="btn btn-default">@localizer["能力是否使用"]:
                        @if ((@Model as MadAndroid).IsMadAndroidAbilityUsed)
                        {
                            <span style="color:red">@localizer["使用"]</span>
                        }
                        else
                        {
                            <span style="color:green">@localizer["未使用"]</span>
                        }
                    </button>
                }
                else if (@Model is BalTak)
                {
                    <button type="button" class="btn btn-default">@localizer["盖亚区盖亚数量"]:@((@Model as BalTak).GaiasGaiaArea.Count) </button>
                }
                else if (@Model is Taklons)
                {
                    <button type="button" class="btn btn-default">@localizer["智慧石所在区域"]:@((@Model as Taklons).BigStone) </button>
                }
                else if (@Model is Hive)
                {
                    <button type="button" class="btn btn-default">@localizer["主城等级"]:@((@Model as Hive).GetMainAllianceGrade()) </button>
                }
            </div>
        </div>

        <div class="row">
            @if (@Model.GaiaGame.GameStatus.RoundCount > 0 && @isRound && @Model.FactionName == Model.GaiaGame.FactionList[Model.GaiaGame.GameStatus.PlayerIndex].FactionName) //@Model.GameStatus.RoundCount > 0 && @isRound && @Model.FactionName == Model.FactionList[Model.GameStatus.PlayerIndex].FactionName
            {
                if (@Model.FactionName == FactionName.HadschHalla && @Model.StrongHold == null) //圣擒族
                {
                    <div class="col-lg-6">
                        <div class="input-group">

                            @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListHadsch, "code", "name"), "--" + localizer["要塞行动"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "StrongHoldKs", @syntax = "convert {0}" })

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#StrongHoldKs">@localizer["前"]</button>
                                <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#StrongHoldKs">@localizer["后"]</button>
                            </span>
                        </div>
                    </div>
                }
                else if (@Model.FactionName == FactionName.Nevla) //超星人
                {
                    <div class="col-lg-6">
                        @if (Model.StrongHold == null)
                        {
                            <div class="input-group">

                                @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListNevla, "code", "name"), "--" + localizer["快速行动"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "NevlaKs", @syntax = "convert {0}" })

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#NevlaKs">@localizer["前"]</button>
                                    <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#NevlaKs">@localizer["后"]</button>
                                </span>
                            </div>
                        }

                        <div class="input-group">
                            <input type="text" class="form-control" id="cxpwtozs" placeholder="@localizer["换取知识"]" syntax="convert {0}pwsp to {0}k">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#cxpwtozs">@localizer["前"]</button>
                                <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#cxpwtozs">@localizer["后"]</button>
                            </span>
                        </div>
                    </div>


                }
                else if (@Model.FactionName == FactionName.BalTak) //炽炎
                {
                    <div class="col-lg-6">
                        <div class="input-group">

                            @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListBalTak, "code", "name"), "--" + localizer["快速行动"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "BalTakKs", @syntax = "convert {0}" })

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#BalTakKs">@localizer["前"]</button>
                                <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#BalTakKs">@localizer["后"]</button>
                            </span>
                        </div>
                    </div>
                }
                else if (@Model.FactionName == FactionName.Taklons) ////利爪
                {
                    <div class="col-lg-6">
                        <div class="input-group">

                            @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListTaklons, "code", "name"), "--" + localizer["快速行动"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "TaklonsKs", @syntax = "{0}" })

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#TaklonsKs">@localizer["前"]</button>
                                <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#TaklonsKs">@localizer["后"]</button>
                            </span>
                        </div>
                    </div>
                }
            }
            <div>
                @foreach (var leech in @Model.LeechPowerQueue)
                {
                    <div>From @leech.Item2 leech @leech.Item1 power</div>
                }

            </div>
        </div>



        <div>
            <table class="table" style="font-size: 18px">
                <tr>
                    <td>@Model.Credit C </td>
                    <td>@Model.Ore O</td>
                    <td>@Model.QICs Q</td>
                    <td>@Model.Knowledge K</td>
                    <td>@Model.PowerTokenGaia PG</td>
                    <td></td>
                    <td>@Model.PowerToken1/@Model.PowerToken2/@Model.PowerToken3 pw</td>
                </tr>
                <tr>
                    <td>M </td>
                    <td>TC</td>
                    <td>RL</td>
                    <td>AC1</td>
                    <td>AC2</td>
                    <td>SH</td>
                    <td>Gaia</td>
                </tr>
                <tr>
                    
                    @if (Model.Mines.Count == 0)//矿场
                    {
                        <td style='color: red'>8/8</td>
                    }
                    else
                    {
                        <td>@(8 - @Model.Mines.Count)/8</td>
                    }
                    @if (Model.TradeCenters.Count == 0)//贸易中心
                    {
                        <td style='color: red'>4/4</td>
                    }
                    else
                    {
                        <td>@(4 - @Model.TradeCenters.Count)/4</td>
                    }
                    @if (Model.ResearchLabs.Count == 0)//研究所
                    {
                        <td style='color: red'>3/3</td>

                    }
                    else
                    {
                        <td>@(3 - @Model.ResearchLabs.Count)/3</td>

                    }
                    <td>
                        @if (@Model.Academy1 == null)
                        {
                            <span style='color: red'>1/1</span>
                        }
                        else
                        {
                            <span>0/1</span>}
                    </td>
                    <td>
                        @if (@Model.Academy2 == null)
                        {
                            <span style='color: red'>1/1</span>}
                        else
                        {
                            <span>0/1</span>}
                    </td>
                    <td>
                        @if (@Model.StrongHold == null)
                        {
                            <span style='color: red'>1/1</span>}
                        else
                        {
                            <span>0/1</span>}
                    </td>
                    <td>@Model.Gaias.Count</td>
                </tr>
            </table>
        </div>


        <div help="@localizer["回合"]/@localizer["特权"]/@localizer["科技版"]" class="row">
            @foreach (var it in @Model.GameTileList.OrderBy(a => a.showRank))
            {
                <div class="col-md-3">
                    @if (it.typename == "rbt")
                    {

                        @if (it.IsUsed)
                        {
                            <div class='rbtcss rbtusedcss @it.name @{@it.name}used'>
                                <span>@it.name<br /> @it.desc.Split(',')[0]<br /> @it.desc.Split(',')[1]</span>
                            </div>
                        }
                        else
                        {
                            <div class="rbtcss  @it.name" id="@Model.FactionName@it.name">
                                <span>@it.name<br /> @it.desc.Split(',')[0]<br /> @it.desc.Split(',')[1]</span>
                            </div>
                            @if (it.CanAction)
                            {
                                <script>
                                    $("#@Model.FactionName@it.name").click(function() {
                                        //
                                        selectMapPos('@it.name',null,'@it.name');
                                    })
                                </script>
                            }

                        }

                    }

                    else if (it.typename == "stt")
                    {
                        <div class="sttcss    @{@it.name}@it.IsUsed" syntax="action " id="@it.name">
                            <span>@it.name<br /> @it.desc</span>
                        </div>
                    }
                    else if (it.typename == "att")
                    {
                        <div class="attcss attusedcss    @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                            <span>@it.GetType().Name<br /> @it.desc</span>
                        </div>
                    }
                    else if (it.typename == "BalAC2")
                    {
                        <div class="BalAC2 Bal@{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                            <span>@it.GetType().Name<br /> @it.desc</span>
                        </div>
                    }
                    else if (it.typename == "ac")
                    {
                        <div class="AC2 @{@it.GetType().Name}@it.IsUsed" syntax="action " id="@it.GetType().Name">
                            <span>@it.GetType().Name<br /> @it.desc</span>
                        </div>
                    }
                    else if (it.typename == "MapAction")
                    {
                        <div class="MapAction  Map@{@it.IsUsed}" syntax="action " id="@it.GetType().Name@{@it.IsUsed}">
                            <span>@it.GetType().Name<br /> @it.desc</span>
                        </div>
                    }
                    else
                    {

                        if (it.IsUsed)
                        {
                            <div class="altcss altusedcss ">@it.GetType().Name<br />  @it.desc</div>
                        }
                        else
                        {
                            <div class="altcss ">@it.GetType().Name<br /> @it.desc</div>
                            @*<div>@it.GetType()</div>*@
                        }
                    }
                </div>
            }

        </div>
        <div help="@localizer["被覆盖的科技"]" class="row">

            @foreach (var item in @Model.GameTileListCovered)
            {
                <div class="col-md-3">
                    <div class="sttcss    @{@item.name}@item.IsUsed" syntax="action " id="Covered @item.name">
                                                <p style="z-index: 120; position: absolute; background-color: green">&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                                <span>@item.name<br /> @item.desc</span>
                                            </div>
                                            </div>

            }
        </div>

        
                                                                                                                                          
                                                                                                                             
    </div>
</div>