@model GaiaCore.Gaia.GaiaGame
@inject IHtmlLocalizer<SharedResources> localizer;

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@localizer["行动区域"]</h3>
    </div>
    <div class="panel-body" style="width: 650px">


        @*        <img src="/images/AC2-4c.png" alt="联邦需要的图片" id="alt_img">*@


        <div class="row">
            <span id="basic-addon1">@localizer["牺牲能量"]：</span>
            <select class="btn dropdown-toggle form-control" id="xsnengliang" name="xsnengliang" syntax="burn {0}" style="width: 100px">
                <option value="">@localizer["牺牲能量"]</option>
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#xsnengliang">@localizer["前"]</button>
            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#xsnengliang">@localizer["后"]</button>
            <button type="button" class="btn btn-default ksaction" id="now" actionType="now" controlid="#xsnengliang">N</button>


        </div>

        <div class="row">
            <span id="basic-addon2">@localizer["快速行动"]：</span>

            <select class="btn dropdown-toggle form-control" id="ksactionnumber" name="ksactionnumber" style="width: 80px">
                <option value="">@localizer["次数"]</option>
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActList, "code", "name"), "--" + localizer["快速行动"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "ksactionall", @syntax = "convert {0}", @style = "width: 200px" })

            <button type="button" class="btn btn-default ksaction" id="before" actionType="before" controlid="#ksactionall" actionnumber="#ksactionnumber">@localizer["前"]</button>
            <button type="button" class="btn btn-default ksaction" id="after" actionType="after" controlid="#ksactionall" actionnumber="#ksactionnumber">@localizer["后"]</button>
            <button type="button" class="btn btn-default ksaction" id="now" actionType="now" controlid="#ksactionall" actionnumber="#ksactionnumber">N</button>

        </div>



        <div class="row" style="margin-top: 10px;margin-bottom: 10px">
            <div class="btn-group btn-default col-md-12" role="group" aria-label="Large button group" id="">
                <button type="button" class="btn btn-default" id="createZjAl">@localizer["选择联邦位置"]</button>


                <button type="button" id="planetMine" class="btn btn-default" style="margin-left: 10px" onclick=''>@localizer["放置黑星"]</button>
                @*$("#syntax").val($("#syntax").val()+".planet F5")*@
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select class="btn dropdown-toggle form-control selectchange" id="updatekjaction" name="enumList" syntax="advance ">
                        <option value="">--@localizer["请选择升级科技"]--</option>
                        <option value="tf">@localizer["地形改造"]</option>
                        <option value="ship">@localizer["航行"]</option>
                        <option value="ai">@localizer["人工智能"]</option>
                        <option value="gaia">@localizer["盖亚计划"]</option>
                        <option value="eco">@localizer["经济"]</option>
                        <option value="sci">@localizer["科学"]</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default actionGp" type="button">@localizer["确定升级"]</button>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">

                    @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--" + localizer["请选择回合助推板"].Value + "--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtPassList", @syntax = "pass " })

                    <span class="input-group-btn">
                        <button class="btn btn-default actionGp" type="button" syntax="pass ">@localizer["选择助推板"]</button>
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>
