@using GaiaProject.Models.Data
@inject IHtmlLocalizer<SharedResources> localizer

<table class="table">
    <thead>
    <tr>
        <td>@localizer["种族"]</td>

        <td>@localizer["局数"]</td>
        <td>@localizer["胜场"]</td>
        <td>@localizer["胜率"]</td>
        <td>@localizer["出场率"]</td>
        <td>@localizer["胜率"]/@localizer["出场率"]</td>
        <td>@localizer["最低分"]</td>
        <td>@localizer["最高分"]</td>
        <td>@localizer["玩家"]</td>

        <td>@localizer["平均分"]</td>



    </tr>
    </thead>
    <tbody>

    @foreach (GameInfoController.StatisticsFaction item in Model)
    {
        <tr>
            <td>
                @localizer[item.ChineseName]
            </td>
            <td>
                @item.count
            </td>
            <td>@item.numberwin</td>
            <td>@item.winprobability%</td>
            <td>@item.OccurrenceRate%</td>

            <td>@Math.Round((float)item.winprobability  / item.OccurrenceRate, 2)</td>


            <td>@item.scoremin</td>
            <td>@item.scoremax</td>
            <td>@item.scoremaxuser</td>

            <td>@item.scoreavg</td>
        </tr>
    }

    </tbody>
</table>