@using GaiaCore.Gaia


<div class="panel panel-default" id="Terraner">
    <div class="panel-heading" style="background-color: #16a0e0;"><span style="background-color: #16a0e0">人类 Terraner</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色：</td>
            <td>蓝色（陆地）</td>
        </tr>
        <tr>
            <td>初始研究：</td>
            <td>盖亚计划</td>
        </tr>
        <tr>
            <td>种族初始能力:</td>
            <td>盖亚阶段时，盖亚区域的能量标记进入2号区域，而不是1号区域</td>
        </tr>
        <tr>
            <td>星际要塞能力:</td>
            <td>盖亚阶段时，盖亚区域的能量标记进入2号区域时，免费获得等同于盖亚区域能量标记数量的能量用于兑换资源，兑换比例与自由行动相同</td>
        </tr>
        <tr>
            <td>盖亚阶段指令示例:</td>
            <td>convert 3pw to 1o</td>
        </tr>
        <tr>
            <td>特殊：</td>
            <td>无</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Terraner.jpg" alt="...">
    </div>
</div>

<hr>

<div class="panel panel-default" id="Lantida">
    <div class="panel-heading" style="background-color: #16a0e0;"><span style="background-color: #16a0e0">亚特兰斯星人 Lantida</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色：</td>
            <td>蓝色（陆地）</td>
        </tr>
        <tr>
            <td>初始研究：</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力:</td>
            <td>可将矿场建造在对手已建造建筑的星球上，无需匹配星球适应性，仍需支付矿场本身的建造费用，通过此法建造的矿场不能升级，也不能以任何途径获得星球种类以及盖亚星球计分</td>
        </tr>
        <tr>
            <td>星际要塞能力:</td>
            <td>每当将矿场建造在对手已建造建筑的星球上时，获得2点知识</td>
        </tr>
        <tr>
            <td>盖亚阶段指令示例:</td>
            <td>convert 3pw to 1o</td>
        </tr>
        <tr>
            <td>特殊：</td>
            <td>要塞不生产能量指示物</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Lantida.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Ambas">
    <div class="panel-heading" style="background-color: #8b3a0e;"><span style="background-color: #8b3a0e;color:#ffffff;">大使星人 Ambas</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色：</td>
            <td>棕色（沼泽）</td>
        </tr>
        <tr>
            <td>初始研究：</td>
            <td>航行</td>
        </tr>
        <tr>
            <td>种族初始能力:</td>
            <td>无</td>
        </tr>
        <tr>
            <td>星际要塞能力:</td>
            <td>每回合1次，将星际要塞与另一个自己已建好的矿场互换位置，不影响已经形成的联邦</td>
        </tr>
        <tr>
            <td>盖亚阶段指令示例:</td>
            <td>action amb.swap E3,F8</td>
        </tr>
        <tr>
            <td>特殊：</td>
            <td>矿场0号位额外生产1个矿石，要塞额外生产1个能量指示物</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Ambas.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Taklons">
    <div class="panel-heading" style="background-color: #8b3a0e;"><span style="background-color: #8b3a0e;color:#ffffff;">利爪族 Taklons</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>棕色（沼泽）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>初始有1枚”智慧石“标记位于1号能量区域，智慧石在因获得能量而移动时如同普通能量指示物，在3号区域作为能源使用时，可当做3点能量使用。（放置卫星和盖亚改造所花费能量不属于“使用”）</td>
        </tr>
        <tr>
            <td>使用智慧石指令示例</td>
            <td>convert 1bs,1pw to 1q或convert 1bs to 3c</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>每当因为对手的建造或升级行动导致你获得能量时，你可以额外获得1个能量指示物到你的1号能量区域</td>
        </tr>
        <tr>
            <td>特殊：</td>
            <td>无</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Taklons.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Firaks">
    <div class="panel-heading" style="background-color: #6b6868;"><span style="background-color: #6b6868;color:#ffffff;">章鱼人 Firaks</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>灰色（钛金）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>无</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>每回合1次，你可以将你的1个研究所降级为贸易中心（视为1个建造贸易中心的建筑行动），并立即选择1项研究区域推进1格</td>
        </tr>
        <tr>
            <td>星际要塞行动指令示例</td>
            <td>action fir.downgrade E3.advance gaia</td>
        </tr>
        <tr>
            <td>特殊：</td>
            <td>实验室0号位额外生产1点知识，初始少1点知识，少1个矿石</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Firaks.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="MadAndroid">
    <div class="panel-heading" style="background-color: #6b6868;"><span style="background-color: #6b6868; color:#ffffff;">疯狂机器 Mad Android</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>灰色（钛金）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>每回合1次，你可以选择你的研究中最靠后的一项研究区域推进1格，若有多项目在最靠后，由你选择推进哪一项研究</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>所有位于灰色星球上你的建筑，能量价值+1</td>
        </tr>

        <tr>
            <td>特殊：</td>
            <td>贸易中心与实验室生产资源对调（每个贸易中心均生产1点知识，实验室生产信用点为3/4/5），星际要塞与大学院位置对调（贸易中心可升级为大学院，实验室可升级为星际要塞）。实验室0号位不生产知识，初始少2点知识</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/MadAndroid.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Geoden">
    <div class="panel-heading" style="background-color: #d75d0c;"><span style="background-color: #d75d0c; color:#ffffff;">晶矿星人 Geoden</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>橙色（熔岩）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>地形改造</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>无</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>每当在1种未建造过建筑的星球类型上建造矿场，获得3知识。在星际要塞建造前所建造的星球类型不会触发该能力</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>无</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Geoden.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="BalTak">
    <div class="panel-heading" style="background-color: #d75d0c;"><span style="background-color: #d75d0c; color:#ffffff;">炽炎族 BalTak</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>橙色（熔岩）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>盖亚计划</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>无法推进航海研究区域，作为自由行动，你可以将你可用的盖亚改造单元放入盖亚区域，换取1个量子方块。位于盖亚区域的盖亚改造单元，会在下一轮盖亚阶段后重新变为可用状态。</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>解除航海研究区域的推进限制</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>大学院2产出4点信用点，取代量子方块。初始少1个量子方块</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/BalTak.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="HadschHalla">
    <div class="panel-heading" style="background-color: #d71729;"><span style="background-color: #d71729; color:#ffffff;">圣禽族 Hadsch Halla</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>红色（氧化）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>经济</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>无</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>作为自由行动，该种族可以使用信用点代替能量兑换资源</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>贸易中心0号位额外生产3点信用点</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/HadschHalla.jpg" alt="...">
    </div>
</div>


<hr>


<div class="panel panel-default" id="Hive">
    <div class="panel-heading" style="background-color: #d71729;"><span style="background-color: #d71729; color:#ffffff;">蜂人 Hive</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>红色（氧化）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>初始建筑设置时，该种族初始建筑为1个星际要塞，而非2个矿场。且放置时无论顺位，永远最后放置（此规则优先于异空族的第3个矿场放置）。整局游戏中，该种族只能形成1个联邦，但每当该联邦中的建筑能量值大于等于X*7时（X等于已经获得的联邦板块数+1），则可花费行动获得另1块联邦板块。该种族放置每个卫星的花费为1个量子方块，而非移除1个能量指示物。</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>每回合1次，该种族可以放置1个空间站标记在1个非星球空位上，不会影响其他玩家的卫星放置，反之亦然。空间站放置距离依赖于种族的航行距离。空间站能量价值为1，可以被卫星连接以获得联邦板块。但因为不属于建筑，因此无法获得相关计分，也不会使对手或因为对手的行动获得能量。</td>
        </tr>
        <tr>
            <td>星际要塞行动指令示例</td>
            <td>action hiv.build i7</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>星际要塞额外生产1个量子方块。</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Hive.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Itar">
    <div class="panel-heading" style="background-color: #ebfafb;"><span style="background-color: #ebfafb">伊塔星人 Itar</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>白色（冰雪）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>无</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>每当该种族牺牲2号能量区域的能量进3号区域时，原本应被移除的能量指示物会进入该种族的盖亚区域。</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>
                盖亚阶段时，该种族可以选择移除盖亚区域的4个能量指示物获得1个科技板块，该行动可以进行多次。
            </td>
        </tr>
        <tr>
            <td>星际要塞行动指令示例</td>
            <td>+att1.-stt3.advance gaia</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>大学院1额外生产1点知识，要塞0号位额外生产1个能量指示物，初始多1个矿石</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Itar.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Nevla">
    <div class="panel-heading" style="background-color: #ebfafb;"><span style="background-color: #ebfafb">超星人 Nevla</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>白色（冰雪）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>科学</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>作为自由行动，该种族可以选择将原力区域的1个能量指示物移动到盖亚区域中，换取1点知识。</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>该种族3号能量区域的每个能量在使用时，可作为2点能量使用（放置卫星和盖亚改造所花费能量不属于“使用”）。</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>所有实验室生产2点能量，取代1点知识（0号位依然生产1点知识），初始少1点知识</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Nevla.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Xenos">
    <div class="panel-heading" style="background-color: #deb703;"><span style="background-color: #deb703">异空族 Xenos</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>黄色（沙漠）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>量子魔方</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>初始建筑设置时，该种族初始建筑为3个矿场，而非2个。第3个矿场在所有玩家放置玩自己的矿场后再放置（除蜂人外）</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>该种族形成联邦，联邦内建筑能量值只需要6点。</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>要塞不生产能量指示物，额外生产1个量子方块</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Xenos.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Gleen">
    <div class="panel-heading" style="background-color: #deb703;"><span style="background-color: #deb703">格伦星人 Gleen</span></div>
    <table class="table">
        <tr>
            <td>初始星球颜色</td>
            <td>黄色（沙漠）</td>
        </tr>
        <tr>
            <td>初始研究</td>
            <td>航行</td>
        </tr>
        <tr>
            <td>种族初始能力</td>
            <td>除非建造了生产量子方块的学院2，否则该种族每当获得量子方块时，都将以获得矿石进行替代。该种族在建造建筑到盖亚星球时，需要支付1个矿石而非1个量子方块。每当在盖亚星球建造矿场时，额外获得2分</td>
        </tr>
        <tr>
            <td>星际要塞能力</td>
            <td>立即获得1个专属联邦板块（1点知识,1个矿石,2点信用点,可翻面）</td>
        </tr>
        <tr>
            <td>特殊</td>
            <td>要塞不生产能量指示物，额外生产1个矿石</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Gleen.jpg" alt="...">
    </div>
</div>


<hr>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="btn-group" role="group" aria-label="...">

            @foreach (var fac in (new List<Faction>() { new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null), new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new Itar(null), new Nevla(null) }))
            {
                <button type="button" class="btn btn-default" style="background-color: @fac.ColorCode" divid="@fac.FactionName" id="@fac.FactionName" onclick="goDiv('@fac.FactionName')">
                    @fac.ChineseName
                </button>
            }

        </div>
    </div>
</nav>
<script>
    function goDiv(div) {
        var a = $("#" + div).offset().top - 50;
        $("html,body").animate({ scrollTop: a }, 'slow');
    }
</script>