@using GaiaCore.Gaia
@inject IHtmlLocalizer<SharedResources> localizer

<div class="panel panel-default" id="Terraner">
    <div class="panel-heading color-Terraner"><span class="color-Terraner">@localizer["人类"] Terraner</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]：</td>
            <td>@localizer["蓝色"]（@localizer["陆地"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]：</td>
            <td>@localizer["盖亚计划"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]:</td>
            <td>@localizer["TerranerInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]:</td>
            <td>@localizer["TerranerPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["盖亚阶段指令示例"]:</td>
            <td>convert 3pw to 1o</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["无"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Terraner.jpg" alt="...">
    </div>
</div>

<hr>

<div class="panel panel-default" id="Lantida">
    <div class="panel-heading color-Lantida"><span class="color-Lantida">@localizer["亚特兰斯星人"] Lantida</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]：</td>
            <td>@localizer["蓝色"]（@localizer["陆地"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]：</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]:</td>
            <td>@localizer["LantidsInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]:</td>
            <td>@localizer["LantidsPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["盖亚阶段指令示例"]:</td>
            <td>convert 3pw to 1o</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["LantidsSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Lantida.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Ambas">
    <div class="panel-heading color-Ambas"><span class="color-Ambas">@localizer["大使星人"] Ambas</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]：</td>
            <td>@localizer["棕色"]（@localizer["沼泽"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]：</td>
            <td>@localizer["航行"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]:</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]:</td>
            <td>@localizer["AmbasPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["盖亚阶段指令示例"]:</td>
            <td>action amb.swap E3,F8</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["AmbasSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Ambas.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Taklons">
    <div class="panel-heading color-Taklons"><span class="color-Taklons">@localizer["利爪族"] Taklons</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["棕色"]（@localizer["沼泽"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["TaklonsInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["使用智慧石指令示例"]</td>
            <td>convert 1bs,1pw to 1q @localizer["或"] convert 1bs to 3c</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["TaklonsPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["无"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Taklons.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Firaks">
    <div class="panel-heading color-Firaks"><span class="color-Firaks">@localizer["章鱼人"] Firaks</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["灰色"]（@localizer["钛金"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["FiraksPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞行动指令示例"]</td>
            <td>action fir.downgrade E3.advance gaia</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["FiraksSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Firaks.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="MadAndroid">
    <div class="panel-heading color-MadAndroid"><span class="color-MadAndroid">@localizer["疯狂机器"] Mad Android</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["灰色"]（@localizer["钛金"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["MadAndroidInitialability"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["MadAndroidPIAbility"]</td>
        </tr>

        <tr>
            <td>@localizer["特殊"]：</td>
            <td>@localizer["MadAndroidSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/MadAndroid.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Geoden">
    <div class="panel-heading color-Geoden"><span class="color-Geoden">@localizer["晶矿星人"] Geoden</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["橙色"]（@localizer["熔岩"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["地形改造"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["GeodenPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["无"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Geoden.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="BalTak">
    <div class="panel-heading color-BalTak"><span class="color-BalTak">@localizer["炽炎族"] BalTak</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["橙色"]（@localizer["熔岩"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["盖亚计划"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["BalTakInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["BalTakPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["BalTakSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/BalTak.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="HadschHalla">
    <div class="panel-heading color-HadschHalla"><span class="color-HadschHalla">@localizer["圣禽族"] Hadsch Halla</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["红色"]（@localizer["氧化"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["经济"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["HadschHallaPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["HadschHallaSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/HadschHalla.jpg" alt="...">
    </div>
</div>


<hr>


<div class="panel panel-default" id="Hive">
    <div class="panel-heading color-Hive"><span class="color-Hive">@localizer["蜂人"] Hive</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["红色"]（@localizer["氧化"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["HiveInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["HivePIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞行动指令示例"]</td>
            <td>action hiv.build i7</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["HiveSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Hive.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Itar">
    <div class="panel-heading color-Itar"><span class="color-Itar">@localizer["伊塔星人"] Itar</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["白色"]（@localizer["冰雪"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["无"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["ItarInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>
                @localizer["ItarPIAbility"]
            </td>
        </tr>
        <tr>
            <td>@localizer["星际要塞行动指令示例"]</td>
            <td>+att1.-stt3.advance gaia</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["ItarSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Itar.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Nevla">
    <div class="panel-heading color-Nevla"><span class="color-Nevla">@localizer["超星人"] Nevla</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["白色"]（@localizer["冰雪"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["科学"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["NevlaInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["NevlaPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["NevlaSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Nevla.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Xenos">
    <div class="panel-heading color-Xenos"><span class="color-Xenos">@localizer["异空族"] Xenos</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["黄色"]（@localizer["沙漠"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["量子魔方"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["XenosInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["XenosPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["XenosSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Xenos.jpg" alt="...">
    </div>
</div>


<hr>

<div class="panel panel-default" id="Gleen">
    <div class="panel-heading color-Gleen"><span class="color-Gleen">@localizer["格伦星人"] Gleen</span></div>
    <table class="table">
        <tr>
            <td>@localizer["初始星球颜色"]</td>
            <td>@localizer["黄色"]（@localizer["沙漠"]）</td>
        </tr>
        <tr>
            <td>@localizer["初始研究"]</td>
            <td>@localizer["航行"]</td>
        </tr>
        <tr>
            <td>@localizer["种族初始能力"]</td>
            <td>@localizer["GleenInitialAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["星际要塞能力"]</td>
            <td>@localizer["GleenPIAbility"]</td>
        </tr>
        <tr>
            <td>@localizer["特殊"]</td>
            <td>@localizer["GleenSpecial"]</td>
        </tr>
    </table>
    <div class="panel-body">
        <img src="/images/faction/Gleen.jpg" alt="...">
    </div>
</div>


<hr>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="btn-group" role="group" aria-label="...">

            @foreach (var fac in (new List<Faction>() { new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null), new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new Itar(null), new Nevla(null) }))
            {
                <button type="button" class="btn btn-default color-@fac.FactionName" divid="@fac.FactionName" id="@fac.FactionName" onclick="goDiv('@fac.FactionName')">
                    @localizer[fac.ChineseName]
                </button>
            }

        </div>
    </div>
</nav>
<script>
    function goDiv(div) {
        var a = $("#" + div).offset().top - 50;
        $("html,body").animate({ scrollTop: a }, 'slow');
    }



</script>