@using GaiaCore.Gaia
@model object

@{
    ViewBag.Title = "种族";
    Layout = "_Layout";
}

<h2>种族</h2>

@foreach (var faction in (new List<Faction>()
{
new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null),
new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null),
new MadAndroid(null), new Itar(null), new Nevla(null)
}))
{
    <div class="panel panel-default" id="@faction.FactionName">
        <div class="panel-heading"><span style="background-color: @faction.ColorCode;">@faction.ChineseName</span></div>
        <div class="panel-body">
            <img src="/images/faction/@(faction.FactionName).jpg" alt="...">
        </div>
    </div>

}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="btn-group" role="group" aria-label="...">

            @foreach (var fac in (new List<Faction>() { new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null), new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new Itar(null), new Nevla(null) }))
            {
                <button type="button" class="btn btn-default" style="background-color: @fac.ColorCode" divid="@fac.FactionName" id="@fac.FactionName" onclick="goDiv('@fac.FactionName')">
                    @fac.ChineseName
                </button>
            }

        </div>
    </div>
</nav>
<script>
    function goDiv(div) {
        var a = $("#"+div).offset().top-50;
        $("html,body").animate({scrollTop:a}, 'slow');
    }
</script>