@using GaiaCore.Gaia.Data
@using GaiaDbContext.Models
@model List<GaiaDbContext.Models.HomeViewModels.GameInfoModel>
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResources> localizer

@{
    ViewBag.Title = @localizer["大厅"];
    Layout = "_Layout";

    string myName = string.Format("|{0}|", this.User.Identity.Name);
}

@{
    bool isAdmin = UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1;
}


<div class="panel panel-default">
    <div class="panel-body">
        <a href="/home/NewGame" class="btn btn-primary">@localizer["创建房间"]</a>

        <a href="/home/NewGameHall" class="btn btn-primary">@localizer["创建大厅房间"]</a>
    </div>



    <table class="table table-condensed">
        <thead>
            <tr>
                <td>@localizer["房间"]</td>
                <td>@localizer["时间"]</td>
                <td>@localizer["人数"]</td>
                <td>@localizer["加入玩家"]</td>

                <td>@localizer["地图模式"]</td>
                <td>@localizer["禁止种族"]</td>
                <td>Hours</td>
                <td>@localizer["创建人"]</td>
                <td>@localizer["备注"]</td>
                <td>@localizer["加入"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var gameinfo in Model)
            {
            <tr>
                <td>@gameinfo.name</td>
                <td>@gameinfo.starttime</td>
                <td>@gameinfo.userlist?.Trim('|').Split('|').Length/@gameinfo.UserCount</td>
                <td>@gameinfo.userlist</td>

                <td>@GameInfoAttribute.MapSelction.Find(item => item.code == gameinfo.MapSelction)?.name </td>
                <td>@gameinfo.jinzhiFaction</td>
                <td>@gameinfo.dropHour</td>
                <td>@gameinfo.username</td>
                <td>@gameinfo.remark</td>
                <td>
                    @if (gameinfo.userlist == null || !gameinfo.userlist.Contains(myName))
                    {
                    <button class="btn btn-default" onclick="joinGame(@gameinfo.Id)">@localizer["Match_Index_Join"]加入</button>
                    }
                    else
                    {
                    <button class="btn btn-default" onclick="exitGame(@gameinfo.Id)">@localizer["Match_Index_Exit"]退出</button>
                    }

                    @if (isAdmin || gameinfo.username == Context.User.Identity.Name)
                    {
                    <button class="btn btn-default" onclick="deleteGame(@gameinfo.Id)">@localizer["删除"]</button>
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>

</div>


<script type="text/javascript">

    function postGameData(url) {
        $.post(url,
            "",
            function (data) {
                if (data.info.state === 200) {
                    location.reload();
                } else {
                    alert(data.info.message);
                }
            });
    }

    function joinGame(id) {
        postGameData("/Home/JoinGame/" + id);
    }

    function exitGame(id) {
        postGameData("/Home/ExitGame/" + id);
    }

    function deleteGame(id) {
        postGameData("/Home/DeleteHallGame/" + id);
    }

</script>