@using System.Linq
@using GaiaCore.Gaia
@using GaiaCore.Gaia.Data
@using GaiaProject.Data
@using GaiaDbContext.Models
@model GaiaProject.Models.HomeViewModels.NewGameViewModel
@inject ApplicationDbContext dbContext

@{
    ViewData["Title"] = "创建新的房间";
}

@inject UserManager<ApplicationUser> UserManager


<div class="panel panel-default">

    <div class="panel-heading">@ViewData["Title"].</div>

    @if (Startup.isEnableFriend)
    {
        var fList = dbContext.UserFriend.Where(item => item.UserName == User.Identity.Name).ToList();
        if (fList.Count > 0)
        {
            <span>选择好友:</span>
            <div class="btn-group" role="group" aria-label="..." id="userList">
                @foreach (var user in dbContext.UserFriend.Where(item => item.UserName == User.Identity.Name))
                {
                    <button type="button" class="btn btn-default" id="@user.UserNameTo">@{@user.UserNameTo}(@user.Remark)</button>
                }
            </div>
        }
    }


    <script>
        //var inputList = $("#playForm input[type='email']");
        $("#userList button").click(function () {
            var user = this.id;
            var isHas = false;
            //alert($("#playForm input[type='email']").length);
            $("#playForm .player").each(function () {
                var value = $(this).val();
                if (value === user) {
                    $(this).val("");
                    isHas = true;
                    return false;
                }
                else {

                }
            });
            if (!isHas) {
                $("#playForm .player").each(function () {
                    var value = $(this).val();
                    if (value === "") {
                        $(this).val(user);
                        return false;
                    }
                });
            }
        })
    </script>

    <form asp-controller="Home" asp-action="NewGame" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="playForm">
        
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" value="" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        @if (Model != null && Model.isHall) //如果是游戏大厅
        {
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserCount" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserCount" class="form-control" value="" />
                    <span asp-validation-for="UserCount" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="remark" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="remark" class="form-control" value="" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>


            <input type="hidden" name="isHall" value="true"/>
        }
        else
        {
            <div class="form-group">
                <label asp-for="Player1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Player1" class="form-control player" value="@ViewData["Message"]" />
                    <span asp-validation-for="Player1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Player2" class="form-control player" />
                    <span asp-validation-for="Player2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Player3" class="form-control player" />
                    <span asp-validation-for="Player3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Player4" class="form-control player" />
                    <span asp-validation-for="Player4" class="text-danger"></span>
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="IsTestGame">
                        <input asp-for="IsTestGame" />
                        @Html.DisplayNameFor(m => m.IsTestGame)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="IsRandomOrder">
                        <input asp-for="IsRandomOrder" checked="checked" />
                        @Html.DisplayNameFor(m => m.IsRandomOrder)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="IsAllowLook">
                        <input asp-for="IsAllowLook" checked="checked" />
                        @Html.DisplayNameFor(m => m.IsAllowLook)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="IsSocket">
                        <input asp-for="IsSocket" />
                        @Html.DisplayNameFor(m => m.IsSocket)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="IsRotatoMap">
                        <input asp-for="IsRotatoMap" />
                        @Html.DisplayNameFor(m => m.IsRotatoMap)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">地图模式</label>
            <div class="col-md-10">
                <label asp-for="MapSelction">
                    
                    @foreach (var selction in GameInfoAttribute.MapSelction)
                    {
                         if (selction.code == "randomall4p")
                         {
                             <input asp-for="MapSelction" type="radio" value="@selction.code"  checked="checked"/>@selction.name
                         }
                         else
                         {
                             <input asp-for="MapSelction" type="radio" value="@selction.code"/>@selction.name
                         }
                    }                    

                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">禁止种族</label>
            <div class="col-md-10">
                @foreach (var
                    fac in
                    (new List<Faction>()
                    {
                        new Terraner(null), new Lantida(null),new HadschHalla(null), new Hive(null), new Ambas(null), new Taklons(null),new Itar(null), new Nevla(null)
                    }))
                {

                    <input type="checkbox" value="@fac.FactionName" name="jinzhi"/>@fac.ChineseName
                }

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">创建</button>
            </div>
        </div>
    </form>
    

    
    


                                                                                          </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}