@model GaiaProject.Models.HomeViewModels.NewGameViewModel
@{
    ViewData["Title"] = "新游戏";
}

<h2>@ViewData["Title"].</h2>


<form asp-controller="Home" asp-action="NewGame" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>创建新的游戏.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name"  class="form-control" value=""/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player1" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player1" class="form-control" value="@ViewData["Message"]"/>
            <span asp-validation-for="Player1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player2" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player2" class="form-control"  value="@ViewData["Message"]"/>
            <span asp-validation-for="Player2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player3" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player3" class="form-control" />
            <span asp-validation-for="Player3" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Player4" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Player4" class="form-control" />
            <span asp-validation-for="Player4" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label asp-for="IsTestGame">
                    <input asp-for="IsTestGame" />
                    @Html.DisplayNameFor(m => m.IsTestGame)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">创建</button>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}