@model GaiaCore.Gaia.GaiaGame
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<script type='text/javascript' language='javascript' src='~/js/site.js'></script>
@if (@Model.GameStatus.stage==GaiaCore.Gaia.Stage.ROUNDWAITLEECHPOWER)
{
    <p>等待以下吸魔行动</p>
    foreach (var fac in Model.UserDic[User.Identity.Name])
    {
        foreach (var leech in fac.LeechPowerQueue)
        {
            <p>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</p>
        }
    }
}
else if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDSTART)
{
    <p>现在是Round @Model.GameStatus.RoundCount,Turn @Model.GameStatus.TurnCount</p>
    <p>现在是 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 的回合,颜色是 @Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain.ToString()</p>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.FACTIONSELECTION)
{
    <p>现在等待 @Model.Username[Model.GameStatus.PlayerIndex] 选种族 setup xxx</p>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.INITIALMINES)
{
    <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 建造初始房子 </p>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)
{
    <p>游戏结束 @string.Join("|",@Model.FactionList.OrderBy(x=>x.Score).Select(x=>string.Format("{0}:{1}",x.FactionName,x.Score)))</p>
}

@if (Model.UserDic.ContainsKey(User.Identity.Name))
{
@foreach (var fac in Model.UserDic[User.Identity.Name])
{
    @foreach (var leech in fac.LeechPowerQueue)
    {
            <form asp-controller="Home" asp-action="LeechPower" method = "post" class="form-horizontal">
                <div>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</div>
                <input name = "name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                <input name = "factionName" class="form-control" value="@fac.FactionName" type="hidden" />
                <input name = "power" class="form-control" value="@leech.Item1" type="hidden" />
                <input name = "leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
                <button type = "submit" name="isLeech" class="btn btn-default" value="true">是</button>
                <button type = "submit" name="isLeech" class="btn btn-default" value="false">否</button>
            </form>
    }
}
}

@if (ViewData["log"] != null)
{
    <p>@ViewData["log"]</p>
}
@if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
{
<form asp-controller="Home" asp-action="ViewGame" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label class="col-md-1 control-label">syntax</label> 
    <div class="col-md-4">
        <input name="syntax" class="form-control" />
    </div>
    <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden"/>
    @if (@Model.GameStatus.stage >= GaiaCore.Gaia.Stage.INITIALMINES)
    {
        <input name="factionName" class="form-control" value="@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName" type="hidden" />
    }
    @*<div class="col-md-1">
        <button type="button" class="btn btn-default">Preview</button>
    </div>*@
    <div class="col-md-1">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
}
<div class="row">
    <div class="col-md-7">
        <canvas id="myCanvas" width="950" height="740" style="border:1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-md-5">
        <h4>种族</h4>
        @foreach (var item in Model.FactionList)
        {
            <div>@item.FactionName|分数:@item.Score|Color:@item.OGTerrain.ToString()|C:@item.Credit|O:@item.Ore|QICs:@item.QICs|K:@item.Knowledge|PI:@item.PowerToken1|PII:@item.PowerToken2|PIII:@item.PowerToken3|PG:@item.PowerTokenGaia</div>
            <div>铲子:@item.TransformLevel|航海:@item.ShipLevel|AI:@item.AILevel|盖亚:@item.GaiaLevel|经济:@item.EconomicLevel|科技:@item.ScienceLevel</div>
            <div>游戏板子:##@string.Join("|||", item.GameTileList.Select(x => string.Format("{0}:{1}", x.GetType().Name, x.desc)))##</div>
            <div>
                建筑物 M @item.Mines.Count /8 | TC @item.TradeCenters.Count /4 |RL @item.ResearchLabs.Count /3 |盖亚 @item.Gaias.Count/3
                |AC1 @if (item.Academy1 == null)
                { <a>0/1</a> }
                else
                { <a>1/1</a>}
                |AC2 @if (item.Academy2 == null)
                { <a>0/1</a>}
                else
                { <a>1/1</a>}
                |SH @if (item.StrongHold == null)
                { <a>0/1</a>}
                else
                { <a>1/1</a>}
            </div>

            @foreach (var leech in item.LeechPowerQueue)
            {
                <div>From @leech.Item2 leech @leech.Item1 power</div>
            }
            <p>---分割线---</p>

        }


        <h4>Round Booster</h4>
        @foreach (var item in Model.RBTList)
        {
            <p>@item.GetType().Name @item.desc</p>
        }
        <h4>Round Score</h4>
        @for (int i = 0; i < Model.RSTList.Count; i++)
        {
            <p>Round @(i+1) @Model.RSTList[i].desc</p>
        }
    </div>
</div>
    <h1>Advance Tech</h1>
    @foreach (var item in Model.ATTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Standard Tech For 6</h1>
    @foreach (var item in Model.STT6List)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Standard Tech For 3</h1>
    @foreach (var item in Model.STT3List)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Final Score</h1>
    @foreach (var item in Model.FSTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Alliance Tile</h1>
    @foreach (var item in Model.ALTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>LogHistory</h1>
    @foreach (var item in Model.UserActionLog.Split(new String[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
    {
        <p>@item</p>
    }



    <script type="text/javascript">
    var c = document.getElementById("myCanvas");
    var cxt = c.getContext("2d");
    var model = @Html.Raw(Json.Serialize(Model));
    console.log("js start");
    DrawMap();



    </script>
    }
    else
    {
    <p>没做完不好意思啊</p>
    }
