@using System
@using System.Collections.Generic
@using System.Linq
@using System.Numerics
@using System.Text.RegularExpressions
@using GaiaCore.Gaia
@using Microsoft.AspNetCore.Mvc.Rendering
@using GaiaDbContext.Models
@using Microsoft.AspNetCore.Http

@model GaiaCore.Gaia.GaiaGame
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResources> localizer


@{
    bool isRound = @Model.GameStatus.RoundCount > 0 && @Model.GetCurrentUserName() == User.Identity.Name;
    bool isAction = @Model.GetCurrentUserName() == User.Identity.Name;
}


<link rel="stylesheet" href="~/css/sitegameview.css?version=2" asp-append-version="true" />
<link rel="stylesheet" href="~/css/bootstrap-table.css">
<script src="~/js/bootstrap-table.js"></script>


<environment names="Development">
    <div>
        <a href="/Home/SkipRound/@Model.GameName?round=6">@localizer["进入第六回合"]</a>
    </div>
</environment>

@if (ViewData["row"] != null)
{
    int row = (int)ViewData["row"];
    <div>

        @if (row > 1)
        {<span>@Model.LogEntityList[row - 1].Syntax</span>}
        <a href="?row=@(row - 1)">@localizer["上一步"]</a>
        <a href="?row=@(row + 1)">@localizer["下一步"]</a>

    </div>
}

@if (@Model.GameStatus.RoundCount > 0)
{
    var faction = @Model.FactionList[Model.GameStatus.PlayerIndex];
    <script>
        //var isRound =@isRound;
        var userInfo = {
            isRound: '@isRound' === 'True',
            buildcolor: '@faction.ColorCode',
            mapcolor: '@faction.ColorMap',
            round: @Model.GameStatus.RoundCount,
            factionName: '@faction.FactionName',
            stage: @((int)Model.GameStatus.stage),
            colorIndex:@faction.colorIndex,
            GameName: '@Html.Raw(Model.GameName)',
            PlayerIndex: @Model.GameStatus.PlayerIndex,
        };
        //alert(userInfo.isRound);
    </script>
}
else
{
    <script>
        var userInfo = {
            isRound: false,
            round: 0,
            stage: -1,
            colorIndex: -1,
            GameName: '@Model.GameName',
            PlayerIndex:0
        };
    </script>
}

@{
    //备忘信息
    var UserGameModel = @Model.UserGameModels?.Find(item => item.username == User.Identity.Name);
    if (UserGameModel != null)
    {
        <script>
            userInfo.UserGameModel = {
                'remark': '@Html.Raw(UserGameModel.remark)',
                'isTishi': @UserGameModel.isTishi.ToString().ToLower(),
                'isSocket':@UserGameModel.isSocket.ToString().ToLower(),
                'resetNumber':@UserGameModel.resetNumber,
            };
        </script>
    }
}

@if (isRound)
{
    @Html.Partial("Partial_SelectTT", Model)

}





@if (SignInManager.IsSignedIn(User))
{
    <div id="gameOtherInfo" style="color: red;font-size: 20px">
        @*        <a href="/" target="_blank">游戏1</a>到你的回合*@
    </div>

    <div id="gameTopInfo" class="panel panel-default" style="font-size:20px">
        <div class="panel-heading">@localizer["回合操作"]</div>
        <div class="panel-body">
            @if (@Model.FactionList.Count > @Model.GameStatus.PlayerIndex)
    {
        <style type="text/css">

                .buildcolor {
                    background-color: @Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode
                }
        </style>
        <script>
                //$("#gameTopInfo").css("background-color","@Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode");
        </script>
}

            <input id="username" name="name" class="form-control" value="@User.Identity.Name" type="hidden" />
            <input id="isMyTurn" name="name" class="form-control" value="@User.Identity.Name.Equals(Model.GetCurrentUserName()).ToString()" type="hidden" />
            <input id="test1" name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
            @if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDWAITLEECHPOWER)
    {

        <p>@localizer["等待以下吸取能量"]</p>
foreach (var fac in @Model.FactionList)
{
    foreach (var leech in fac.LeechPowerQueue)
    {
        <p>@localizer[fac.ChineseName] @localizer["是否要从"] @leech.Item2 @localizer["吸取"] @leech.Item1 @localizer["点能量"]</p>
        <p>@localizer["{0} 是否要从 {1} 吸取 {2} 点能量", localizer[fac.ChineseName], @leech.Item2, @leech.Item1]</p>
}
}
        <br>
}
else if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDSTART)
{
        <p>@localizer["现在是Round"] @Model.GameStatus.RoundCount,@localizer["Turn"] @Model.GameStatus.TurnCount</p>

        <p>@localizer["现在是"] <span class="buildcolor">@localizer[Model.FactionList[Model.GameStatus.PlayerIndex].ChineseName]</span> @localizer["的回合"],@localizer["颜色是"] @Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain.ToString()</p>



        <!-- 模态框（Modal）选择地图 -->
        @Html.Partial("Partial_Game_SelectPos", Model)//


}

else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.FACTIONSELECTION)
{
        <p>@localizer["现在等待"] @Model.Username[Model.GameStatus.PlayerIndex] @localizer["选种族"] setup xxx.</p>

        <p>@localizer["玩家顺序是"] @string.Join("|", Model.Username)</p>
        <div class="btn-group" id="selectfaction" role="group" aria-label="...">
            @{
                var facList = (new List<Faction>()
                {
                    new Terraner(null), new Lantida(null), new Hive(null), new HadschHalla(null), new BalTak(null),
                    new Geoden(null), new Gleen(null), new Xenos(null), new Ambas(null), new Taklons(null), new Firaks(null),
                    new MadAndroid(null), new Itar(null), new Nevla(null)
                });
                if (Model.JinzhiFaction != null)
                {
                    facList.RemoveAll(item => Model.JinzhiFaction.Select(jzFac=> jzFac.FactionName).Contains(item.FactionName) );//item.FactionName.ToString() == "s"
                }
            }
            @foreach (var fac in facList.Where(item => !Model.FactionList.Select(fa => fa.ColorCode).Contains(item.ColorCode)))
    {
        <button type="button" class="btn btn-default color-@fac.FactionName" style="background-color: @fac.ColorCode" id="@fac.FactionName" syntax="setup ">@localizer[fac.ChineseName]</button>

}
            <script>
                $("#selectfaction button").click(function () {
                    $("#syntax").val("setup {0}".format(this.id));
                });
            </script>
        </div>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.INITIALMINES)
{

        <p>@localizer["现在等待"] <span class="buildcolor color-">@localizer[Model.FactionList[Model.GameStatus.PlayerIndex].ChineseName]</span> @localizer["建造初始房子"] </p>
        <script>
                userInfo.mapcolor = '@Model.FactionList[Model.GameStatus.PlayerIndex].ColorMap';
                userInfo.stage = 2;
        </script>
        @Html.Partial("Partial_Game_SelectPos", Model)//

}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.SELECTROUNDBOOSTER)
{

        <p>@localizer["现在等待"] <span class="buildcolor">@localizer[Model.FactionList[Model.GameStatus.PlayerIndex].ChineseName]</span> @localizer["选择回合助推板"] +rbtx</p>

if (isAction)
{
        @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--" + localizer["请选择回合助推板"].Value + "--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtList", @syntax = "+" })
}
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)
{

        <p>@localizer["游戏结束"] @string.Join("|", @Model.FactionList.OrderByDescending(x => x.Score).Select(x => string.Format("{0}:{1}", localizer[x.ChineseName].Value, x.Score)))</p>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDGAIAPHASE)
{
        <div>
            <p>
                @localizer["现在等待"] <span style="background-color: @Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode">@localizer[Model.FactionList[Model.GameStatus.PlayerIndex].ChineseName]</span> @localizer["做Gaia行动"]
            </p>
            <p>@localizer["Pass跳过此行动阶段"]</p>
            <p>@localizer["Itar 用+sttx/attx获取板子 一次只能拿一块"]</p>
            <p>@localizer["人类正常使用Convert命令 一次只能转换一种资源"]</p>

            @if (isRound)
    {
        @if (@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName == FactionName.Itar)
{
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" onclick="openSelectTT('{0}')">@localizer["选择科技版"]</button>

            <button class="btn btn-default" onclick="$('#syntax').val('pass');submitData();">pass</button>
        </div>
        <!-- 模态框（Modal）选择地图 -->
        @Html.Partial("Partial_Game_SelectPos", Model)//
}
else if (@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName == FactionName.Terraner)
{

        <div>
            <span>PG:<span id="TerranerPowerToken">@Model.FactionList[Model.GameStatus.PlayerIndex].PowerTokenGaia</span></span>



            @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListTerraner, "code", "name"), "--" + @localizer["快速行动"].Value + "--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "updatekj", @syntax = "convert " })

            <button class="btn btn-default" onclick="submitData();">@localizer["确认"]</button>

            <button class="btn btn-default" onclick="$('#syntax').val('convert '+$('#TerranerPowerToken').text()+'pw'+' to '+$('#TerranerPowerToken').text()+'c');">@localizer["全部兑换信用点"]</button>


            <button class="btn btn-default" onclick="$('#syntax').val('pass');submitData();">@localizer["pass"]</button>
        </div>
        <script>

        </script>

}
}




        </div>
}
//旋转地图
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.MAPROTATE)
{
        <div>

            <p>@localizer["等待玩家"] @Model.GetCurrentUserName() @localizer["旋转地图"]</p>

            @if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
    {
        @Html.DropDownList("sclist", new SelectList(Model.Map.ListSpaceSector.OrderBy(item => Int32.Parse(item.Name)), "Name", "Name"), "--" + localizer["星域板块"].Value + "--", new { @class = "btn dropdown-toggle form-control", @id = "rotatesc", @syntax = "" })

        <select class="btn dropdown-toggle form-control" id="rotatefx" name="rotatefx" style="width: 100px">
            <option value="1">@localizer["顺时针"]</option>
            <option value="2">@localizer["逆时针"]</option>
        </select>

        <select class="btn dropdown-toggle form-control" id="rotatebs" name="rotatebs" style="width: 100px">
            <option value="1">--@localizer["旋转步数"]--</option>
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-default" id="rotatebtn">@localizer["确定旋转"]</button>

        <button class="btn btn-default" onclick="$('#syntax').val('pass');submitData();">@localizer["结束旋转"]</button>

        <script>
            $("#rotatebtn").click(function () {
                $('#syntax').val('setupmaprotate {0} {1} {2}'.format($('#rotatesc').val(), $('#rotatefx').val(), $('#rotatebs').val()));
                submitData();
            });
        </script>
}

        </div>
}



            @if (Model.UserDic.ContainsKey(User.Identity.Name))

    {
        @foreach (var fac in Model.UserDic[User.Identity.Name])

{
        @foreach (var leech in fac.LeechPowerQueue)

{
    if (fac is Taklons && fac.StrongHold == null)
    {
        <form asp-controller="Home" asp-action="LeechPower" method="post" class="form-horizontal">
            <div>
                @localizer["{0} 是否要从 {1} 吸取 {2} 点能量", fac.FactionName, @leech.Item2, @leech.Item1]

                <input name="isPwFirst" id="pwFirst" type="radio" checked="checked" value="true" /> @localizer["先增加能量"]
                <input name="isPwFirst" id="pwFirst" type="radio" value="false" />先增加能量Token
            </div>
            <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
            <input name="factionName" class="form-control" value="@fac.FactionName" type="hidden" />
            <input name="power" class="form-control" value="@leech.Item1" type="hidden" />
            <input name="leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
            <button type="submit" name="isLeech" class="btn btn-default" value="true" style="width: 100px">@localizer["是"]</button>
            <button type="submit" name="isLeech" class="btn btn-default" value="false" style="width: 100px">@localizer["否"]</button>
        </form>
}
else
{
        <form asp-controller="Home" asp-action="LeechPower" method="post" class="form-horizontal">
            <div>@localizer["{0} 是否要从 {1} 吸取 {2} 点能量", fac.FactionName, @leech.Item2, @leech.Item1]</div>

            <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
            <input name="factionName" class="form-control" value="@fac.FactionName" type="hidden" />
            <input name="power" class="form-control" value="@leech.Item1" type="hidden" />
            <input name="leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
            <button type="submit" name="isLeech" class="btn btn-default" value="true" style="width: 100px">@localizer["是"]</button>
            <button type="submit" name="isLeech" class="btn btn-default" value="false" style="width: 100px">@localizer["否"]</button>
        </form>
}

}
}
if (User.Identity.Name.Equals(Model.GetCurrentUserName()) && Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDINCOME)
{
        <p>@localizer["现在是Round"] @Model.GameStatus.RoundCount,@localizer["Turn"] @Model.GameStatus.TurnCount</p>
        <p>
            @localizer["现在等待"] <span style="background-color: @Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode">@localizer[Model.FactionList[Model.GameStatus.PlayerIndex].ChineseName]</span> @localizer["选择想要的能量分配方式"]
        </p>
foreach (var item in Model.FactionList[Model.GameStatus.PlayerIndex].PowerPreview)
{
        <button id="pwincome" class="btn btn-default" value="@item.Item1,@item.Item2,@item.Item3">@item.Item1|@item.Item2|@item.Item3</button>
}

}
}

            @if (ViewData["log"] != null)
    {
        <p>@ViewData["log"]</p>
}








            @if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
    {

        <div class="form-inline">
            @*<div class="input-group-btn">*@
            <div class="input-group">
                <span class="input-group-addon">@localizer["命令"]</span>
                <input id="syntax" size="50" name="syntax" type="text" class="form-control" aria-label="Text input with multiple buttons">
            </div>
            <button id="syn" type="button" class="btn btn-primary" style="width: 100px">@localizer["保存"]</button>

            @if (Model.version > 3 && Model.GameStatus.stage == Stage.ROUNDSTART)
    {
        <button id="syn_pass" type="button" class="btn btn-primary" style="width: 100px" onclick="$('#syntax').val('pass turn');submitData();">@localizer["结束操作"]</button>

        <button id="syn_pass" type="button" class="btn btn-primary" style="width: 100px" onclick="$('#syntax').val('reset turn');submitData();">@localizer["重置操作"] (@UserGameModel?.resetNumber)</button>
}



            <input id="test1" name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
            @if (@Model.GameStatus.stage >= GaiaCore.Gaia.Stage.INITIALMINES && Model.FactionList.Count > 0)
    {
        <input id="test3" name="factionName" class="form-control" value="@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName" type="hidden" />
}
            <a class="btn btn-default" data-toggle="collapse" href="#techDisplay" role="button" style="box-shadow:none">@localizer["折叠科技"]</a>

        </div>
}
        </div>
    </div>

    <!-- 信息提示对话框 -->
    <div class="modal fade" id="queryInfoModel">
        <div class="modal-dialog" style="width: 1500px;height: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">@localizer["盖亚计划"]</h4>
                </div>
                <div class="modal-body" id="queryInfoBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@localizer["关闭"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    @Html.Partial("Partial_Game_Faction", Model)//玩家区域显示






    if (UserManager.GetUserAsync(User).Result != null && UserManager.GetUserAsync(User).Result.groupid == 1)
    {
        <div class="input-group-btn">
            <button id="undo" type="button" class="btn btn-default">@localizer["undo"]</button>
            <button id="delete" type="button" class="btn btn-default">@localizer["delete"]</button>
            <button id="redo" type="button" class="btn btn-default">@localizer["redo"]</button>
            <button id="report" type="button" class="btn btn-default">@localizer["report"]</button>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">@localizer["对局记录"]</div>
        <table class="table table-condensed">
            <thead data-toggle="collapse" data-target="#demo">
                <tr>
                    <th>@localizer["种族名"]</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>@localizer["分数"]</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>@localizer["信用点"]</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>@localizer["矿"]</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>QIC</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>@localizer["知识"]</th>
                    <th class="text-right">@localizer["变化数值"]</th>
                    <th>@localizer["能量"]</th>
                    <th>@localizer["语句"]</th>
                    @*                @if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)*@
                    @*                {*@
                    @*                    <th>步骤</th>*@
                    @*                }*@
                </tr>
            </thead>

            <tbody id="SyntaxLogList" class="collapse in">
                @foreach (var item in Model.LogEntityList.OrderByDescending(x => x.Row).Take(20))
                {
                    <tr>
                        <td>@(localizer[item?.ChineseName ?? ""])</td>
                        <td class="text-right">@item.ResouceChange?.m_score</td>
                        <td>@(item.ResouceEnd?.m_score)vp</td>
                        <td class="text-right">@item.ResouceChange?.m_credit</td>
                        <td>@(item.ResouceEnd?.m_credit)c</td>
                        <td class="text-right">@item.ResouceChange?.m_ore</td>
                        <td>@(item.ResouceEnd?.m_ore)o</td>
                        <td class="text-right">@item.ResouceChange?.m_QICs</td>
                        <td>@(item.ResouceEnd?.m_QICs)q</td>
                        <td class="text-right">@item.ResouceChange?.m_knowledge</td>
                        <td>@(item.ResouceEnd?.m_knowledge)k</td>
                        <td class="text-right">@(item.ResouceChange?.m_powerToken2 + item.ResouceChange?.m_powerToken3 * 2)</td>
                        <td>@(item.ResouceEnd?.m_powerToken1)/@(item.ResouceEnd?.m_powerToken2)/@(item.ResouceEnd?.m_powerToken3)</td>
                        <td>@item.Syntax</td>
                    </tr>
                }
            </tbody>

        </table>
        @if (Model.LogEntityList.Count > 20)
        {
            <button class="btn btn-default" id="showAllLog">@localizer["显示全部日志"]</button>
        }


        @if (User.Identity.Name.Equals("yucenyucen@126.com"))
        {
            @foreach (var item in Model.UserActionLog.Split(new string[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
            {
                <li>@item</li>
            }

            @if (!string.IsNullOrEmpty(Model.LastErrorLog))
            {
                <h1> ErrorLog </h1>
                <p> @Model.LastErrorLog</p>
            }
        }
    </div>

    <script type='text/javascript' language='javascript' src='~/js/site-v2.js'></script>

    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        //显示全部日志
        $("#showAllLog").click(function() {
            $.get("/home/SyntaxLog/@Html.Raw(Model.GameName)",
                function (data) {
                    $("#SyntaxLogList").html(data.data);
                });
        });
        var IsSocket =@Model.IsSocket.ToString().ToLower() && !!window.WebSocket && window.WebSocket.prototype.send;
        //IsSocket = false;
    </script>
    <script type='text/javascript' language='javascript' src='~/js/faction.js'></script>


    @if (Model.IsSocket)
    {
        <script type='text/javascript' language='javascript' src='~/js/gpsocket.js'></script>
    }
    else
    {
        <script type='text/javascript' language='javascript' src='~/js/nextgame.js'></script>

    }

}
else
{
    <p> @localizer["请先登录"] </p>
}
