@using System
@using System.Collections.Generic
@using System.Linq
@using System.Numerics
@using System.Text.RegularExpressions
@using GaiaCore.Gaia
@using Microsoft.AspNetCore.Mvc.Rendering
@model GaiaCore.Gaia.GaiaGame
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    

    

@if (SignInManager.IsSignedIn(User))
{
    <div id="gameTopInfo"  style="font-size:20px">
        @if (@Model.FactionList.Count > @Model.GameStatus.PlayerIndex)
        {
            <script>
                $("#gameTopInfo").css("background-color","@Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode");
            </script>
         @*<div style="background-color: @Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode;text-align:center">*@
        }


        <p id="username">@User.Identity.Name</p>
        <p id="isMyTurn">@User.Identity.Name.Equals(Model.GetCurrentUserName()).ToString()</p>
        @if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDWAITLEECHPOWER)
        {
            <p>等待以下吸魔行动</p>
            foreach (var fac in Model.UserDic[User.Identity.Name])
            {
                foreach (var leech in fac.LeechPowerQueue)
                {
                    <p>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</p>
                }
            }
        }
        else if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDSTART)
        {
            <p>现在是Round @Model.GameStatus.RoundCount,Turn @Model.GameStatus.TurnCount</p>
            <p>现在是 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 的回合,颜色是 @Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain.ToString()</p>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                选择要升级的建筑
                            </h4>
                        </div>
                        <div class="modal-body">
                            <select class="btn dropdown-toggle form-control" id="updateBuildList"></select>
                            <div id="sttBody">
                                @Html.DropDownList("enumList", new SelectList(Model.STT6List.GroupBy(a => a.name).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.name) }), "name", "desc"), "--请选择科技板块(6)--", new { @class = "btn dropdown-toggle form-control", @id = "stt6List", @syntax = ".+" })
                                <div class="form-inline">
                                    @Html.DropDownList("enumList", new SelectList(Model.STT3List.GroupBy(a => a.name).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.name) }), "name", "desc"), "--请选择科技板块(3)--", new { @class = "btn dropdown-toggle form-control", @id = "stt3List", @syntax = ".+" })
                                    <select class="btn dropdown-toggle form-control" id="updatekj" name="enumList" syntax=".+"><option value="">--请选择升级科技--</option>
                                        <option value="tf">地形改造</option>
                                        <option value="ship">航行</option>
                                        <option value="ai">人工智能</option>
                                        <option value="gaia">盖亚计划</option>
                                        <option value="eco">经济</option>
                                        <option value="sci">科学</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" id="updateQuery">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.FACTIONSELECTION)
        {
            <p>现在等待 @Model.Username[Model.GameStatus.PlayerIndex] 选种族 setup xxx.姨塔星人 异星人 圣禽族 完成其余均是白板</p>

            //ViewBag.enums = Enum.GetValues(typeof(GaiaCore.Gaia.FactionName)).Cast<GaiaCore.Gaia.FactionName>();
            @Html.DropDownList("enumList", new SelectList(new List<Faction>() { new Lantida(null), new Terraner(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new BalTak(null), new Geoden(null), new Hive(null), new HadschHalla(null), new Itar(null), new Nevla(null), new Gleen(null), new Xenos(null) }, "FactionName", "ChineseName"), "--请选择种族--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "zhongzuList", @syntax = "setup " })


        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.INITIALMINES)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 建造初始房子 </p>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.SELECTROUNDBOOSTER)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 选择回合助推板 +rbtx</p>

            @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--请选择回合助推板--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtList", @syntax = "+" })


        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)
        {
            <p>游戏结束 @string.Join("|", @Model.FactionList.OrderBy(x => x.Score).Select(x => string.Format("{0}:{1}", x.FactionName, x.Score)))</p>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDGAIAPHASE)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 做Gaia行动 Pass跳过此行动阶段 +sttx/attx获取板子 多块板子用.间隔</p>
        }

        @if (Model.UserDic.ContainsKey(User.Identity.Name))
        {
            @foreach (var fac in Model.UserDic[User.Identity.Name])
             {
                 @foreach (var leech in fac.LeechPowerQueue)
                  {
                      <form asp-controller="Home" asp-action="LeechPower" asp-route-returnurl="/Home/Contact" method="post" class="form-horizontal">
                          <div>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</div>
                          <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                          <input name="factionName" class="form-control" value="@fac.FactionName" type="hidden" />
                          <input name="power" class="form-control" value="@leech.Item1" type="hidden" />
                          <input name="leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
                          <button type="submit" name="isLeech" class="btn btn-default" value="true">是</button>
                          <button type="submit" name="isLeech" class="btn btn-default" value="false">否</button>
                      </form>
                  }
             }
        }

        @if (ViewData["log"] != null)
        {
            <p>@ViewData["log"]</p>
        }


    </div>

    @if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
     {

         <div class="row">
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <div class="col-lg-3">
                     <div class="input-group">
                         <span class="input-group-addon">命令</span>
                         <input id="syntax" name="syntax" type="text" class="form-control" aria-label="Text input with multiple buttons">
                         <div class="input-group-btn">
                             <button  id="syn" type="button" class="btn btn-default">保存</button>
                         </div>
                         <input id="test1" name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                         @if (@Model.GameStatus.stage >= GaiaCore.Gaia.Stage.INITIALMINES)
                         {
                             <input id="test3" name="factionName" class="form-control" value="@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName" type="hidden" />
                         }
                     </div><!-- /.input-group -->
                 </div><!-- /.col-lg-6 -->
         </div>

     }


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">行动区域</h3>
        </div>
        <div class="panel-body">
            
            
            <div class="row">
                <div class="col-lg-10  pull-left" style="padding-left:50px">
                    <div class="row" id="actBody">
    
                        @foreach (var item in Model.MapActionMrg.mapActList)
                        {
                            <div class="col-xs-6 col-md-2" style="height: 60px; width: 60px; text-align: center; line-height: 60px; background: url(/images/pwactionbg.gif);" id="@item.GetType().Name">
                   
                                @if (item.IsUsed)
                                {
                                    <a href="#" style="color:red">@item.GetText()</a>
                                }
                                else
                                {
                                    <a href="#"  style="color:green">@item.GetText()</a>
            @*<div>@item.GetType().Name @item.desc</div>*@
                                }
                                @*<script>
                $("#actConst").append('<div class="col-xs-6 col-md-2" style="height: 30px; width: 60px;">@item.GetConst()</div>')
            </script>*@
                            </div>
                        }
                    </div>
                    <div class="row" id="actConst">

                        @foreach (var name in new string[] { "-7pw", "-5pw", "-4pw", "-4pw", "-4pw", "-3pw", "-3pw", "-4Q", "-3Q", "-2Q" })
                        {
                            <div class="col-xs-6 col-md-2" style="height: 30px; width: 60px;">
                                @name
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <div class="row" style="background-color: #c3c3c3">
                未完成功能:

                @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActList, "code", "name"), "--未完成快速行动--", new {@class = "btn dropdown-toggle form-control selectchange", @id = "updatekj", @syntax = "convert "})

                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control selectchange" placeholder="输入数值" syntax="burn ">
                        <span class="input-group-btn">
                            <button class="btn btn-default actionGp" type="button" syntax="burn ">牺牲</button>
                        </span>
                    </div>
                </div>



            </div>
            
            <div class="row"  style="background-color: #c3c3c3">
                未完成功能:
                <div class="col-lg-2">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Large button group" id="">
                        <button type="button" class="btn btn-default" id="createAl">建立联邦</button>
                        <button type="button" class="btn btn-default" id="quxiaoAl">取消行动</button>
                    </div>
                </div>
                <script>
                    $("#createAl").click(function() {

                    });
                    $("#quxiaoAl").click(function() {

                    });
                </script>

            </div>
            
            <div class="row">
                <div class="col-lg-2">
                    <div class="input-group">
                        
                        <select class="btn dropdown-toggle form-control selectchange" id="updatekjaction" name="enumList" syntax="advance "><option value="">--请选择升级科技--</option>
                            <option value="tf">地形改造</option>
                            <option value="ship">航行</option>
                            <option value="ai">人工智能</option>
                            <option value="gaia">盖亚计划</option>
                            <option value="eco">经济</option>
                            <option value="sci">科学</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default actionGp" type="button">确定升级</button>
                        </span>
                    </div>
                </div>

            </div>
            

            <div class="row">

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-7">
            <canvas id="myCanvas" width="950" height="740" style="border:1px solid #c3c3c3;">
                Your browser does not support the canvas element.
            </canvas>
        </div>
        <div class="col-md-5">



            <script type="text/javascript">
                var legendData = [];
                var seriesData = [];
                @*var roundColorIndex = @((int)(Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain));*@
            </script>
    

            @foreach (var item in Model.FactionList)
            {

                <script type="text/javascript">
                    legendData.push("@Html.Raw(@item.ChineseName)");
                    seriesData.push({
                        name: "@Html.Raw(@item.ChineseName)",
                        type: 'bar',
                        data: [
                            @item.TransformLevel, @item.ShipLevel, @item.AILevel, @item.GaiaLevel,
                            @item.EconomicLevel, @item.ScienceLevel
                        ],
                        itemStyle:{
                            normal:{
                                color:'@item.ColorCode'
                            }
                        },
                        //color:'@item.ColorCode'
                    });

                </script>

                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: @item.ColorCode">
                        <h3 class="panel-title"><span class="badge">@item.Score VP</span> <span>@item.ChineseName @item.FactionName</span>
                        </h3>
                    </div>
                    <div class="panel-body">
            
                        @foreach (var leech in item.LeechPowerQueue)
                        {
                            <div>From @leech.Item2 leech @leech.Item1 power</div>
                        }
                        @foreach (var it in item.GameTileList)
                        {
                            if (it.IsUsed)
                            {
                                <s>@it.GetType().Name @it.desc</s>
                            }
                            else
                            {
                                <div>@it.GetType().Name @it.desc</div>
                            }
                        }

                        <table class="table" width="50%">
                            <tr>
                                <td>@item.Credit C </td>
                                <td>@item.Ore O</td>
                                <td>@item.QICs Q</td>
                                <td>@item.Knowledge K</td>
                                <td>@item.PowerTokenGaia PG</td>
                                <td></td>
                                <td>@item.PowerToken1/@item.PowerToken2/@item.PowerToken3 pw</td>

                            </tr>
                            <tr>
                                <td>M </td>
                                <td>TC</td>
                                <td>RL</td>
                                <td>AC1</td>
                                <td>AC2</td>
                                <td>SH</td>
                                <td>Gaia</td>
                            </tr>
                            <tr>
                                <td>@(8 - item.Mines.Count)/8</td>
                                <td>@(4 - item.TradeCenters.Count)/4</td>
                                <td>@(3 - item.ResearchLabs.Count)/3</td>
                                <td>
                                    @if (item.Academy1 == null)
                                    {
                                        <span>1/1</span>
                                    }
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>
                                    @if (item.Academy2 == null)
                                    {
                                        <span>1/1</span>}
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>
                                    @if (item.StrongHold == null)
                                    {
                                        <span>1/1</span>}
                                    else
                                    {
                                        <span>0/1</span>}
                                </td>
                                <td>@item.Gaias.Count</td>
                            </tr>
                        </table>


                    </div>
                </div>

            }


            @*<h4>种族</h4>
        @foreach (var item in Model.FactionList)
        {
            <div>@item.FactionName|分数:@item.Score|Color:@item.OGTerrain.ToString()|C:@item.Credit|O:@item.Ore|Q:@item.QICs|K:@item.Knowledge|PG:@item.PowerTokenGaia|Power:@item.PowerToken1/@item.PowerToken2/@item.PowerToken3</div>
            <div>铲子:@item.TransformLevel|航海:@item.ShipLevel|AI:@item.AILevel|盖亚:@item.GaiaLevel|经济:@item.EconomicLevel|科技:@item.ScienceLevel</div>
            @foreach (var it in item.GameTileList)
            {
                if (it.IsUsed)
                {
                    <s>@it.GetType().Name @it.desc</s>
                }
                else
                {
                    <div>@it.GetType().Name @it.desc</div>
                }
            }
            <div>
                建筑物 M @(8-item.Mines.Count) /8 | TC @(4-item.TradeCenters.Count) /4 |RL @(3-item.ResearchLabs.Count) /3 |板子上有的盖亚 @item.Gaias.Count
                |AC1 @if (item.Academy1 == null)
                { <a>1/1</a> }
                else
                { <a>0/1</a>}
                |AC2 @if (item.Academy2 == null)
                { <a>1/1</a>}
                else
                { <a>0/1</a>}
                |SH @if (item.StrongHold == null)
                { <a>1/1</a>}
                else
                { <a>0/1</a>}
            </div>

            @foreach (var leech in item.LeechPowerQueue)
            {
                <div>From @leech.Item2 leech @leech.Item1 power</div>
            }
            <p>---分割线---</p>

        }*@


            <div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">回合助推板</div>

                        <ul class="list-group">
                            @foreach (var item in Model.RBTList)
                            {
                                <li class="list-group-item">@item.GetType().Name @item.desc</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">回合计分板</div>

                        <!-- List group -->
                        <ul class="list-group">
                            @for (int i = 0; i < Model.RSTList.Count; i++)
                            {
                                <li class="list-group-item">Round @(i + 1) @Model.RSTList[i].desc</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>






        </div>
    </div>
               
    <div class="row">
        
        <div class="col-md-6">
            <script src="~/js/echarts.min.js"></script>
            @*<div style="background: url(/images/development.png);background-size:100% 80%;">
                <div id="main" style="width: 100%; height: 400px;"></div>
            </div>*@
            <div >
                <div id="main" style="width: 100%; height: 400px;"></div>
            </div>
            <div style="text-align: center">    
                <!-- 按钮触发模态框 -->
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalInfo">
                    科技奖励说明
                </button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 800px;height: 800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    详细
                                </h4>
                            </div>
                            <div class="modal-body">			
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Level</td>
                                        <td>地形改造</td>
                                        <td>航行</td>
                                        <td>人工智能</td>
                                        <td>盖亚计划</td>
                                        <td>经济</td>
                                        <td>科学</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>5(12vp)</td>
                                        <td>ALTX</td>
                                        <td>Ship Level 4
                                            Lost Planet</td>
                                        <td>4q</td>
                                        <td>4vp+1vp*M(G)</td>
                                        <td>3o,6c,6pw</td>
                                        <td>9k</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default center-block" data-dismiss="modal">关闭
                                </button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                // 指定图表的配置项和数据
                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: { // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        //data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','百度','谷歌','必应','其他']
                        data: legendData
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            //地形改造 航行  人工智能  盖亚计划  经济 科学
                            data: ['地形改造', '航行', '人工智能', '盖亚计划', '经济', '科学']
                        }
                    ],
                    yAxis: [
                        {
                            interval :1,
                            type: 'value',
                            //min : -1,
                            max : 5
                        }
                    ],
                    series: seriesData

                };

                // console.log(legendData);
                //console.log(seriesData);
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

                //下面是需要添加的方法内容  
//点击柱状图跳转相应页面的功能，其中param.name参数为横坐标的值   
                //var ecConfig = echarts.config;
                //var ecConfig = require('echarts/config');
                function eConsole(param) {  
                    if (typeof param.seriesIndex != 'undefined') {  
                        switch (param.name) {  
                        case "新浪":      
                            window.location.href = "http://www.sina.com";  
                            window.open("http://www.sina.com", "_blank");//在新页面打开  
                            break;  
                        case "百度":    
                            window.location.href = "http://www.baidu.com";  
                            break;  
                        case "腾讯":    
                            window.location.href = "http://www.qq.com";  
                            break;  
                        default:  
                            break;  
                        }  
                    }  
                    console.log(param);
                }  
                myChart.on("click", eConsole);  
                //myChart.on(ecConfig.EVENT.CLICK, eConsole); 
            </script>
        </div>
        <div class="col-md-6">


            
            <table class="table">
                <thead>

                </thead>
                <tbody>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
  
            <table class="table">
                <thead>
                <tr>
                    <td>Level</td>
                    <td>地形改造</td>
                    <td>航行</td>
                    <td>人工智能</td>
                    <td>盖亚计划</td>
                    <td>经济</td>
                    <td>科学</td>
                </tr>              
                </thead>
                <tbody>
                
                
                <tr>
                    <td>5(12vp)</td>
                    <td>ALTX</td>
                    <td>Ship Level 4
                        Lost Planet</td>
                    <td>4q</td>
                    <td>4vp+1vp*M(G)</td>
                    <td>3o,6c,6pw</td>
                    <td>9k</td>
                </tr>
                <tr>
                    <td>5(12vp)</td>
                    <td>ALTX</td>
                    <td>
                        Ship Level 4
                        Lost Planet
                    </td>
                    <td>4q</td>
                    <td>4vp+1vp*M(G)</td>
                    <td>3o,6c,6pw</td>
                    <td>9k</td>
                </tr>                    
                    

                <tr>
                    <td>
                        高级科技
                    </td>
                    @foreach (var item in Model.ATTList)
                    {
                        <td>@item.desc</td>
                    }
                </tr>
                <tr>
                    <td>
                        基础科技(6)
                    </td>
                    @foreach (var item in Model.STT6ListGroup)
                    {
                        <td>@item.desc (@item.count)</td>
                    }
                </tr>
                <tr>
                    <td>
                        基础科技(3)
                    </td>
                    @foreach (var item in Model.STT3ListGroup)
                    {
                        <td colspan="2" style="text-align: center">@item.desc (@item.count)</td>
                    }
                </tr>
                </tbody>
            </table>






        </div>




    </div>

    <div class="row">

        <div class="col-md-5">
            
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Final Score</div>

                <ul class="list-group">
                    @foreach (var item in Model.FSTList)
                    {
                        <li class="list-group-item">@item.GetType().Name @item.desc</li>
                    }
                </ul>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Alliance Tile</div>

                <ul class="list-group">
                    @foreach (var item in Model.ALTList)
                    {
                        <li class="list-group-item">@item.GetType().Name @item.desc</li>
                    }
                </ul>
            </div>

        </div>
        <div class="col-md-5">
            
            
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">LogHistory</div>

                <ul class="list-group">
                    @foreach (var item in Model.UserActionLog.Split(new String[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        </div>


    </div>


    @*<script type='text/javascript' language='javascript' src='~/lib/jquery/dist/jquery.min.js'></script>*@
    <script type='text/javascript' language='javascript' src='~/js/site.js'></script>

    <script type="text/javascript">
        var c = document.getElementById("myCanvas");
        var cxt = c.getContext("2d");
        var model = @Html.Raw(Json.Serialize(Model));
        console.log("js start");
        DrawMap();


        var list = canvasobjList;

        function getEventPosition(ev){
            var x, y;
            if (ev.layerX || ev.layerX == 0) {
                x = ev.layerX;
                y = ev.layerY;
            } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                x = ev.offsetX;
                y = ev.offsetY;
            }
            return {x: x, y: y};
        }

        function getClickObj(x,y) {
            for (var i = 0; i < list.length; i++) {
                if (list[i].xmax >= x && list[i].xmin <= x && list[i].ymax >= y && list[i].ymin <= y) {
                    return list[i];
                }
//            console.log(list[i]);
//            console.log(x+"/"+y)
            }
        };

        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {    
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出
                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        c.addEventListener('click', function (e) {
            //console.log(list);
            var xy = getEventPosition(e);
            var clickObj = getClickObj(xy.x, xy.y);
            if (clickObj.typename != undefined) {
                switch (clickObj.typename) {
                case "Mine":
                    $("#syntax").val("upgrade {0} to {1}".format(clickObj.position,"TC"));
                    break;
                case "TradeCenter":
                case "ResearchLab":
                    //$("#myModalLabel").text("新增");
                    //如果是ResearchLab
                    if (clickObj.typename=="ResearchLab"){
                        $("#updateBuildList").html('<option value="">--请选择升级建筑--</option><option value="AC1">AC1</option><option value="AC2">AC2</option>')
                        $("#sttBody").show();
                    }
                    else{
                        $("#updateBuildList").html('<option value="">--请选择升级建筑--</option><option value="RL">ResearchLab</option><option value="SH">SH</option>')
                        $("#sttBody").hide();
                    }
                    $('#myModal').modal();

                    $("#updateBuildList").change(function() {
                        //SH
                        if ($(this).val() == "SH") {
                            $("#sttBody").hide();
                        } else {
                            $("#sttBody").show();
                        }
                        //alert(2);
                    });
                    $("#stt6List").change(function() {
                        //if ($("#stt6List").val()!=)
                        $("#stt3List").val("");
                    });
                    $("#stt3List").change(function() {
                        //if ($("#stt6List").val()!=)
                        $("#stt6List").val("");
                    });

                    $("#updateQuery").click(function () {

                        var upJz = $("#updateBuildList").val();
                        if (upJz == "SH") {
                            $("#syntax").val("upgrade {0} to {1}.".format(clickObj.position,
                                upJz));
                        } else {
                            
                            if ($("#stt6List").val() != "") {
                                $("#syntax").val("upgrade {0} to {1}.+{2}.".format(clickObj.position,
                                    upJz, $("#stt6List").val()));

                            } else {
                                $("#syntax").val("upgrade {0} to {1}.+{2}. advance {3}".format(clickObj.position, upJz, $("#stt3List").val(), $("#updatekj").val()));
                            }
                        }
                        $('#myModal').modal('hide');
                    });
//                        $("#updateBuildList li").click(function() {
//                            $("#syntax").val("upgrade {0} to {1}.+".format(clickObj.position, this.id));
//                            $('#myModal').modal('hide');
//                    });
                    break;
                //case "ResearchLab":
                //$("#syntax").val("upgrade {0} to {1}".format(clickObj.position,"AC"));
                //break;
                case "Academy":
                    
                    break;
                case "StrongHold":
                    //alert("不能继续升级");
                    break;
                case "GaiaBuilding":
                    $("#syntax").val("build " + clickObj.position);
                    //alert("不能继续升级");
                    break;
                case "gaizao":
                    $("#syntax").val("gaia " + clickObj.position);
                    //alert("不能继续升级");
                    break;                  
                default:
                    console.log("不能继续升级");
                }
            } else {
                $("#syntax").val("build " + clickObj.position);
            }
            
            console.log(clickObj);
            //console.log("f");
            //alert(getEventPosition(e).x+"/"+getEventPosition(e).y);
        }, false);


    </script>


    <script>
        //选择种族，选择回合版,快速行动
        $(".selectchange").change(function () {
            var obj = $(this);
            var syntax = obj.attr("syntax");
            $("#syntax").val(syntax + $(this).val());
            //alert($(this).val());
        });
        //魔力行动
        $("#actBody div").click(function () {
            var value = this.id.replace(" ", "");
            if ($(this).find("a").css("color") == "rgb(255, 0, 0)") {
                alert("行动以被执行");
            }
            else
            {            $("#syntax").val("action {0}".format(value));
            }

            //alert($(this).find("a").css("color"));
        });
        //执行行动
        $(".actionGp").click(function() {
            //$("#syntax").val("{0}-{1}".format($(this).attr("syntax"), $($(this).attr("valueid")).val()));
            submitData();
        });
    </script>

    <script>
        //提交命令
        function submitData() {
            var value = $("#syntax").val();
            if (value == "") {
                alert("请先选择行动");
                return;
            }
            $.post("/home/Syntax",
                {
                    name: $("#test1").val(),
                    syntax: value,
                    factionName: $("#test3").val(),
                },
                function (data, status) {
                    if (data.indexOf("error") != -1) {
                        alert(data);
                    } else {
                        location.reload();
                    }
                });
        }

        $(document).ready(function () {
            $("button#syn").click(function () {
                submitData();
            });
        });

        setTimeout('GetNextGame()', 10000); //指定1秒刷新一次
        $("#isMyTurn").hide();
        $("p#username").hide();

        function GetNextGame() {
            if ($("#isMyTurn").text().indexOf("True") == -1) {
                $.post("/home/GetNextGame",
                    {
                        name: $("p#username").text()
                    },
                    function (data, status) {
                        if (data == undefined) {
                            console.log(data);
                        } else {
                            window.location.href = "/home/viewgame/" + data;
                            alert("你的回合");
                        }
                        
                    });
            }
            setTimeout('GetNextGame()', 10000);
        }
    </script>

}
else
{
    <p>没做完不好意思啊</p>
}
