@using System
@using System.Collections.Generic
@using System.Linq
@using System.Numerics
@using System.Text.RegularExpressions
@using GaiaCore.Gaia
@using Microsoft.AspNetCore.Mvc.Rendering
@model GaiaCore.Gaia.GaiaGame
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    

<link rel="stylesheet" href="~/css/sitegameview.css?version=2" asp-append-version="true" />    

@if (SignInManager.IsSignedIn(User))
{
    <div id="gameTopInfo"  style="font-size:20px">
        @if (@Model.FactionList.Count > @Model.GameStatus.PlayerIndex)
        {
            <script>
                $("#gameTopInfo").css("background-color","@Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode");
            </script>
         @*<div style="background-color: @Model.FactionList[Model.GameStatus.PlayerIndex].ColorCode;text-align:center">*@
        }


        <p id="username">@User.Identity.Name</p>
        <p id="isMyTurn">@User.Identity.Name.Equals(Model.GetCurrentUserName()).ToString()</p>
        @if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDWAITLEECHPOWER)
        {
            <p>等待以下吸魔行动</p>
            foreach (var fac in Model.UserDic[User.Identity.Name])
            {
                foreach (var leech in fac.LeechPowerQueue)
                {
                    <p>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</p>
                }
            }
        }
        else if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDSTART)
        {
            <p>现在是Round @Model.GameStatus.RoundCount,Turn @Model.GameStatus.TurnCount</p>
            <p>现在是 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 的回合,颜色是 @Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain.ToString()</p>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                选择要升级的建筑
                            </h4>
                        </div>
                        <div class="modal-body">
                            <select class="btn dropdown-toggle form-control" id="updateBuildList"></select>
                            <div id="sttBody">
                                @Html.DropDownList("enumList", new SelectList(Model.STT6List.GroupBy(a => a.name).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.name) }), "name", "desc"), "--请选择科技板块(6)--", new { @class = "btn dropdown-toggle form-control", @id = "stt6List", @syntax = ".+" })
                                <div class="form-inline">
                                    @Html.DropDownList("enumList", new SelectList(Model.STT3List.GroupBy(a => a.name).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.name) }), "name", "desc"), "--请选择科技板块(3)--", new { @class = "btn dropdown-toggle form-control", @id = "stt3List", @syntax = ".+" })
                                    <select class="btn dropdown-toggle form-control" id="updatekj" name="enumList" syntax=".+"><option value="">--请选择升级科技--</option>
                                        <option value="tf">地形改造</option>
                                        <option value="ship">航行</option>
                                        <option value="ai">人工智能</option>
                                        <option value="gaia">盖亚计划</option>
                                        <option value="eco">经济</option>
                                        <option value="sci">科学</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" id="updateQuery">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModalCanves" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 1000px;height: 800px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                请选择位置
                            </h4>
                        </div>
                        <div class="modal-body" id="canvasSelectMap">

                            <div class="row">
                                <div class="btn-group" role="group" aria-label="..." id="alPosList">
                                </div>
                                <div>
                                    @Html.DropDownList("enumList", new SelectList(Model.ALTList.GroupBy(a => a.desc).Select(g => new { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.GetType().Name) }), "name", "desc"), "--请选择联邦板块--", new { @class = "btn dropdown-toggle form-control", @id = "alSelectList", @syntax = "+" })
                                </div>
                            </div>
                            <canvas id="myCanvasSelect" width="950" height="740" style="border: 1px solid #c3c3c3;">
                                Your browser does not support the canvas element.
                            </canvas>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary" id="queryPosList">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.FACTIONSELECTION)
        {
            <p>现在等待 @Model.Username[Model.GameStatus.PlayerIndex] 选种族 setup xxx.姨塔星人 异星人 圣禽族 完成其余均是白板</p>

            //ViewBag.enums = Enum.GetValues(typeof(GaiaCore.Gaia.FactionName)).Cast<GaiaCore.Gaia.FactionName>();
            @Html.DropDownList("enumList", new SelectList(new List<Faction>() { new Lantida(null), new Terraner(null), new Ambas(null), new Taklons(null), new Firaks(null), new MadAndroid(null), new BalTak(null), new Geoden(null), new Hive(null), new HadschHalla(null), new Itar(null), new Nevla(null), new Gleen(null), new Xenos(null) }, "FactionName", "ChineseName"), "--请选择种族--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "zhongzuList", @syntax = "setup " })


        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.INITIALMINES)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 建造初始房子 </p>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.SELECTROUNDBOOSTER)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 选择回合助推板 +rbtx</p>

            @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--请选择回合助推板--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtList", @syntax = "+" })


        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)
        {
            <p>游戏结束 @string.Join("|", @Model.FactionList.OrderBy(x => x.Score).Select(x => string.Format("{0}:{1}", x.FactionName, x.Score)))</p>
        }
        else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDGAIAPHASE)
        {
            <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 做Gaia行动 Pass跳过此行动阶段 +sttx/attx获取板子 多块板子用.间隔</p>
        }

        @if (Model.UserDic.ContainsKey(User.Identity.Name))
                                    {
                                        @foreach (var fac in Model.UserDic[User.Identity.Name])
             {
                                            @foreach (var leech in fac.LeechPowerQueue)
                  {
                      <form asp-controller="Home" asp-action="LeechPower" asp-route-returnurl="/Home/Contact" method="post" class="form-horizontal">
                          <div>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</div>
                          <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                          <input name="factionName" class="form-control" value="@fac.FactionName" type="hidden" />
                          <input name="power" class="form-control" value="@leech.Item1" type="hidden" />
                          <input name="leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
                          <button type="submit" name="isLeech" class="btn btn-default" value="true">是</button>
                          <button type="submit" name="isLeech" class="btn btn-default" value="false">否</button>
                      </form>
                  }
             }
        }

        @if (ViewData["log"] != null)
                                    {
            <p>@ViewData["log"]</p>
        }


    </div>

    @if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
     {

         <div class="row">
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <div class="col-lg-3">
                     <div class="input-group">
                         <span class="input-group-addon">命令</span>
                         <input id="syntax" name="syntax" type="text" class="form-control" aria-label="Text input with multiple buttons">
                         <div class="input-group-btn">
                             <button  id="syn" type="button" class="btn btn-default">保存</button>
                         </div>
                         <input id="test1" name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                         @if (@Model.GameStatus.stage >= GaiaCore.Gaia.Stage.INITIALMINES)
                                    {
                             <input id="test3" name="factionName" class="form-control" value="@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName" type="hidden" />
                         }
                     </div><!-- /.input-group -->
                 </div><!-- /.col-lg-6 -->
         </div>

     }


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">行动区域</h3>
        </div>
        <div class="panel-body">
            
            
            <div class="row">
                <div class="col-md-5" style="padding-left:50px">
                    <div class="row" id="actBody">


                        @foreach (var item in Model.MapActionMrg.mapActList)
                                    {
                            <div class="col-xs-6 col-md-2" style="height: 60px; width: 60px; text-align: center; line-height: 60px; background: url(/images/pwactionbg.gif);" id="@item.GetType().Name">


                                @if (item.IsUsed)
                                    {
                                    <a href="#" style="color:red">@item.GetText()</a>
                                }
                                else
                                {
                                    <a href="#"  style="color:green">@item.GetText()</a>
                                }
                            </div>
                        }
                    </div>
                    <div class="row" id="actConst">

                        @foreach (var name in new string[] { "-7pw", "-5pw", "-4pw", "-4pw", "-4pw", "-3pw", "-3pw", "-4Q", "-3Q", "-2Q" })
                        {
                            <div class="col-xs-6 col-md-2" style="height: 30px; width: 60px;">
                                @name
                            </div>
                        }
                    </div>
                </div>
                
                <div class="col-md-5" style="background-color: #c3c3c3">

                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control selectchange" placeholder="输入数值" syntax="burn ">
                            <span class="input-group-btn">
                                <button class="btn btn-default actionGp" type="button" syntax="burn ">牺牲能量</button>
                            </span>
                        </div>
                    </div>
                    

                    <div class="col-md-5">
                        @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActList, "code", "name"), "--未完成快速行动--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "updatekj", @syntax = "convert " })
                    </div>
                </div>
            </div>
            

            
            <div class="row">
                <div class="btn-group btn-group-lg col-md-4" role="group" aria-label="Large button group" id="">
                    <button type="button" class="btn btn-default" id="createAl">选择卫星位置</button>                       
                    <button type="button" class="btn btn-default" id="createZjAl">直接建立联邦</button>                      
                    <button type="button" class="btn btn-default actionGp" id="quxiaoAl">确认成立联邦</button>
                </div>
                
                
                <div class="col-md-3">
                    <div class="input-group">
                        
                        <select class="btn dropdown-toggle form-control selectchange" id="updatekjaction" name="enumList" syntax="advance "><option value="">--请选择升级科技--</option>
                            <option value="tf">地形改造</option>
                            <option value="ship">航行</option>
                            <option value="ai">人工智能</option>
                            <option value="gaia">盖亚计划</option>
                            <option value="eco">经济</option>
                            <option value="sci">科学</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default actionGp" type="button">确定升级</button>
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                
                        @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"), "--请选择回合助推板--", new { @class = "btn dropdown-toggle form-control selectchange", @id = "rbtPassList", @syntax = "pass " })

                        <span class="input-group-btn">
                            <button class="btn btn-default actionGp" type="button" syntax="pass ">结束回合</button>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row">

            </div>
            

        </div>
    </div>



    <div class="row">
        <div class="col-md-7" id="myCanvasDiv">
            <canvas id="myCanvas" width="950" height="740" style="border:1px solid #c3c3c3;">
                Your browser does not support the canvas element.
            </canvas>
            <div class="panel panel-default">
                <div class="panel-body">
                    当前回合玩家:
                    @foreach (var orderPlayer in Model.FactionList.Except(Model.FactionNextTurnList))
                                    {
                        <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
                    }
                                    跳过回合玩家:
                    @foreach (var orderPlayer in Model.FactionNextTurnList)
                                    {
                        <span style="background-color: @orderPlayer.ColorCode">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">

            @foreach (var item in Model.FactionList)
                                    {
                <script type="text/javascript">
                    $(function () {
                                            var span = '<span style="background-color: @item.ColorCode">&nbsp;&nbsp;</span>&nbsp;';
                        $("#tt_l" + @item.TransformLevel).find("td").eq(1).append(span);
                        $("#tt_l" + @item.ShipLevel).find("td").eq(2).append(span);
                        $("#tt_l" + @item.AILevel).find("td").eq(3).append(span);
                        $("#tt_l" + @item.GaiaLevel).find("td").eq(4).append(span);
                        $("#tt_l" + @item.EconomicLevel).find("td").eq(5).append(span);
                        $("#tt_l" + @item.ScienceLevel).find("td").eq(6).append(span);
                                        });

                </script>

                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h3 class="panel-title"><span class="badge">@item.Score VP</span> <span style="background-color: @item.ColorCode">@item.ChineseName @item.FactionName </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        @if (@Model.GameStatus.RoundCount > 0)
                                    {
                                        @if (@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName == FactionName.HadschHalla && @Model.FactionList[0].FactionName == FactionName.HadschHalla && @item.StrongHold==null) //圣擒族
                             {
                                 <div  class="col-lg-6">
                                     <div class="input-group">
                                                           
                                         @Html.DropDownList("enumList", new SelectList(GaiaCore.Gaia.Data.PwInfoList.QuickActListHadsch, "code", "name"), "--要塞行动--", new {@class = "btn dropdown-toggle form-control selectchange", @id = "updatekj", @syntax = "convert "})
                                    
                                         <span class="input-group-btn">
                                             <button class="btn btn-default actionGp" type="button">确定</button>
                                         </span>
                                     </div>
                                 </div>
                             }
                        }
                            </div>
                                <div>
                                    @foreach (var leech in item.LeechPowerQueue)
                                    {
                                        <div>From @leech.Item2 leech @leech.Item1 power</div>
                                    }
                                    @foreach (var it in item.GameTileList)
                                    {
                                        if (it.IsUsed)
                                        {
                                            <s>@it.GetType().Name @it.desc</s>
                                        }
                                        else
                                        {
                                            <div>@it.GetType().Name @it.desc</div>
                                        }
                                    }
                                </div>

                                <table class="table" width="50%">
                                    <tr>
                                        <td>@item.Credit C </td>
                                        <td>@item.Ore O</td>
                                        <td>@item.QICs Q</td>
                                        <td>@item.Knowledge K</td>
                                        <td>@item.PowerTokenGaia PG</td>
                                        <td></td>
                                        <td>@item.PowerToken1/@item.PowerToken2/@item.PowerToken3 pw</td>

                                    </tr>
                                    <tr>
                                        <td>M </td>
                                        <td>TC</td>
                                        <td>RL</td>
                                        <td>AC1</td>
                                        <td>AC2</td>
                                        <td>SH</td>
                                        <td>Gaia</td>
                                    </tr>
                                    <tr>
                                        <td>@(8 - item.Mines.Count)/8</td>
                                        <td>@(4 - item.TradeCenters.Count)/4</td>
                                        <td>@(3 - item.ResearchLabs.Count)/3</td>
                                        <td>
                                            @if (item.Academy1 == null)
                                    {
                                                <span>1/1</span>
                                            }
                                            else
                                            {
                                                <span>0/1</span>}
                                        </td>
                                        <td>
                                            @if (item.Academy2 == null)
                                    {
                                                <span>1/1</span>}
                                            else
                                            {
                                                <span>0/1</span>}
                                        </td>
                                        <td>
                                            @if (item.StrongHold == null)
                                    {
                                                <span>1/1</span>}
                                            else
                                            {
                                                <span>0/1</span>}
                                        </td>
                                        <td>@item.Gaias.Count</td>
                                    </tr>
                                </table>


                            </div>
                </div>

            }

        </div>
    </div>
               
    <div class="row">
        
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">回合助推板</div>

                        <ul class="list-group">
                            @foreach (var item in Model.RBTList)
                                    {
                                <li class="list-group-item">@item.GetType().Name @item.desc</li>
                            }
                        </ul>
                    </div>
                    
                    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">回合计分板</div>                        
                        

                                <ul class="list-group">
                                    @for (int i = 0; i < Model.RSTList.Count; i++)
                                    {
                                        @if (@Model.GameStatus.RoundCount == i + 1)
                                    {
                                             <li class="list-group-item" style="background-color: #c3c3c3">Round @(i + 1) @Model.RSTList[i].desc</li>
                                         }
                                         else if (@Model.GameStatus.RoundCount > i + 1)
                                         {
                                             <li class="list-group-item" style="background-color: #c3c3c3">Round @(i + 1) @Model.RSTList[i].desc</li>
                                         }
                                         else
                                         {
                                             <li class="list-group-item">Round @(i + 1) @Model.RSTList[i].desc</li>
                                         }
                                    }

                                </ul>
                            

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
       
            <table class="table">
                <thead>
                <tr>
                    <td>Level</td>
                    <td>地形改造</td>
                    <td>航行</td>
                    <td>人工智能</td>
                    <td>盖亚计划</td>
                    <td>经济</td>
                    <td>科学</td>
                </tr>              
                </thead>
                <tbody>
                
                
                    <tr id="tt_l5" style="background-color: #c3c3c3">
                        <td>5(12vp)</td>
                        <td>ALTX</td>
                        <td>
                            Ship Level 4
                            Lost Planet
                        </td>
                        <td>4q</td>
                        <td>4vp+1vp*M(G)</td>
                        <td>3o,6c,6pw</td>
                        <td>9k</td>
                    </tr>
                    <tr  id="tt_l4" style="background-color: #c3c3c3">
                        <td>4(8vp)</td>
                        <td>2o</td>
                        <td>Ship Level 3</td>
                        <td>2q</td>
                        <td>
                            3 Gaia Unit
                            3pw Gaia Cost
                        </td>
                        <td>+2o,+4c,+4pw</td>
                        <td>+4k</td>
                    </tr>
                <tr  id="tt_l3" style="background-color: #c3c3c3">

                    <td>3(4vp)</td>
                    <td>Tf Level 3</td>
                    <td>1q</td>
                    <td>2q</td>
                    <td>
                        2 Gaia Unit
                        4pw Gaia Cost
                    </td>
                    <td>+1o,+3c,+3pw</td>
                    <td>+3k</td>
                </tr>
                <tr>
                    <td class="text-center" colspan="6">3pw</td>
                </tr>
                <tr  id="tt_l2" style="background-color: #c3c3c3">

                        <td>2</td>
                        <td>Tf Level 2</td>
                        <td>Ship Level 2</td>
                        <td>1q</td>
                        <td>3pwt</td>
                        <td>+1o,+2c,+2pw</td>
                        <td>+2k</td>
                    </tr>
                <tr  id="tt_l1" style="background-color: #c3c3c3">

                        <td>1</td>
                        <td>2o</td>
                        <td>1q</td>
                        <td>1q</td>
                        <td>
                            1 Gaia Unit
                            6pw Gaia Cost
                        </td>
                        <td>+2c,+1pw</td>
                        <td>+1k</td>
                    </tr>                   
                    

                <tr>
                <tr  id="tt_l0">

                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>


                    </td>
                    <td></td>
                    <td></td>
                </tr>



                <tr>
                    <td>
                        高级科技
                    </td>
                    @foreach (var item in Model.ATTList)
                    {
                        <td title="@item.name">@item.desc</td>
                    }
                </tr>
                <tr>
                    <td>
                        基础科技(6)
                    </td>
                    @foreach (var item in Model.STT6ListGroup)
                                    {
                        <td title="@item.name">@item.desc (@item.count)</td>
                    }
                </tr>
                <tr>
                    <td>
                        基础科技(3)
                    </td>
                    @foreach (var item in Model.STT3ListGroup)
                                    {
                        <td colspan="2" style="text-align: center"  title="@item.name">@item.desc (@item.count)</td>
                    }
                </tr>
                </tbody>
            </table>

        </div>




    </div>

    <div class="row">

        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">终局计分板(数量统计未实现功能)</div>
                <div class="panel-body">                                 
                    <table class="table">
                        <tr>
                            <td>
                                   
                            </td>
                            @foreach (var item in Model.FactionList)
                                    {
                                <td>
                                    <span  style="background-color: @item.ColorCode">@item.ChineseName</span>


                                </td>
                            }
                        </tr>            
                        @foreach (var item in Model.FSTList)
                                    {
                            <tr>
                                <td>
                                    @item.GetType().Name @item.desc
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                                    @*<li class="list-group-item">@item.GetType().Name @item.desc</li>*@
                        }



                    </table>
                </div>
                          


            </div>
        </div>

        <div class="col-md-5">
            
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">联邦板块</div>

                <ul class="list-group">
                    @foreach (var item in Model.ALTList.GroupBy(a => a.desc).Select(g => new  { count = g.Count(), desc = g.Max(item => item.desc), name = g.Max(item => item.GetType().Name) }))
                    {
                        <li class="list-group-item">@item.name @item.desc (@item.count)</li>
                    }
                </ul>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">操作日志</div>

                <ul class="list-group">
                    @foreach (var item in Model.UserActionLog.Split(new String[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        </div>


    </div>


    @*<script type='text/javascript' language='javascript' src='~/lib/jquery/dist/jquery.min.js'></script>*@
    <script type='text/javascript' language='javascript' src='~/js/site.js'></script>

    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model));

        var list = canvasobjList;

        function getEventPosition(ev){
            var x, y;
            if (ev.layerX || ev.layerX == 0) {
                x = ev.layerX;
                y = ev.layerY;
            } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                x = ev.offsetX;
                y = ev.offsetY;
            }
            return {x: x, y: y};
        }

        function getClickObj(x,y) {
            for (var i = 0; i < list.length; i++) {
                if (list[i].xmax >= x && list[i].xmin <= x && list[i].ymax >= y && list[i].ymin <= y) {
                    return list[i];
                }
//            console.log(list[i]);
//            console.log(x+"/"+y)
            }
        };



        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        createMap("myCanvas","build");






    </script>


    <script>
        //选择种族，选择回合版,快速行动
        $(".selectchange").change(function () {
            var obj = $(this);
            var syntax = obj.attr("syntax");
            $("#syntax").val(syntax + $(this).val());
            //alert($(this).val());
        });
        //魔力行动
        $("#actBody div").click(function () {
            var value = this.id.replace(" ", "");
            if ($(this).find("a").css("color") == "rgb(255, 0, 0)") {
                alert("行动以被执行");
            }
            else
            {
                $("#syntax").val("action {0}".format(value));
                if (value == "ACT6" || value == "ACT2" ) {
                    $("#myModalCanves").modal();
                    createMap("myCanvasSelect","act");

                    //$("#canvasSelectMap").html($("#myCanvasDiv").html());
                } else {
                    
                }
            }

            //alert($(this).find("a").css("color"));
        });
        //执行行动
        $(".actionGp").click(function() {
            //$("#syntax").val("{0}-{1}".format($(this).attr("syntax"), $($(this).attr("valueid")).val()));
            submitData();
        });
        //卫星建立联邦
        $("#createAl").click(function () {
            
            $("#myModalCanves").modal();
            createMap("myCanvasSelect","al1");
        });
        //直接建立联邦
        $("#createZjAl").click(function () {            
            $("#myModalCanves").modal();
            createMap("myCanvasSelect","al2");
        });
    </script>

    <script>
        //提交命令
        function submitData() {
            var value = $("#syntax").val();
            if (value == "") {
                alert("请先选择行动");
                return;
            }
            $.post("/home/Syntax",
                {
                    name: $("#test1").val(),
                    syntax: value,
                    factionName: $("#test3").val(),
                },
                function (data, status) {
                    if (data.indexOf("error") != -1) {
                        alert(data);
                    } else {
                        location.reload();
                    }
                });
        }

        $(document).ready(function () {
            $("button#syn").click(function () {
                submitData();
            });
        });

        setTimeout('GetNextGame()', 10000); //指定1秒刷新一次
        $("#isMyTurn").hide();
        $("p#username").hide();

        function GetNextGame() {
            if ($("#isMyTurn").text().indexOf("True") == -1) {
                $.post("/home/GetNextGame",
                    {
                        name: $("p#username").text()
                    },
                    function (data, status) {
                        if (data == undefined) {
                            console.log(data);
                        } else {
                            window.location.href = "/home/viewgame/" + data;
                            alert("你的回合");
                        }
                        
                    });
            }
            setTimeout('GetNextGame()', 10000);
        }
    </script>

}
else
{
    <p>没做完不好意思啊</p>
}
