@model GaiaCore.Gaia.GaiaGame
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<script type='text/javascript' language='javascript' src='~/js/site.js'></script>
@if (@Model.GameStatus.stage==GaiaCore.Gaia.Stage.ROUNDWAITLEECHPOWER)
{
    <p>等待以下吸魔行动</p>
    foreach (var fac in Model.UserDic[User.Identity.Name])
    {
        foreach (var leech in fac.LeechPowerQueue)
        {
            <p>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</p>
        }
    }
}
else if (@Model.GameStatus.stage == GaiaCore.Gaia.Stage.ROUNDSTART)
{
    <p>现在是Round @Model.GameStatus.RoundCount,Turn @Model.GameStatus.TurnCount</p>
    <p>现在是 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 的回合,颜色是 @Model.FactionList[Model.GameStatus.PlayerIndex].OGTerrain.ToString()</p>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择要升级的建筑
                    </h4>
                </div>
                <div class="modal-body">
                    
                    <select class="btn dropdown-toggle form-control" id="updateBuildList">
                        <option value="">--请选择升级建筑--</option>
                        <option value="RL">ResearchLab</option>
                        <option value="SH">SH</option>
                    </select>

                    <div id="sttBody">
                        
                        @Html.DropDownList("enumList", new SelectList(Model.STT6List, "name", "desc"), "--请选择科技板块(6)--", new {@class = "btn dropdown-toggle form-control", @id = "stt6List", @syntax = ".+"})
                        
                        @Html.DropDownList("enumList", new SelectList(Model.STT3List, "name", "desc"), "--请选择科技板块(6)--", new { @class = "btn dropdown-toggle form-control", @id = "stt3List", @syntax = ".+" })


                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" id="updateQuery">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.FACTIONSELECTION)
{
    <p>现在等待 @Model.Username[Model.GameStatus.PlayerIndex] 选种族 setup xxx</p>

    ViewBag.enums = Enum.GetValues(typeof(GaiaCore.Gaia.FactionName)).Cast<GaiaCore.Gaia.FactionName>();
    @Html.DropDownList("enumList", new SelectList(ViewBag.enums),"--请选择种族--", new { @class = "btn dropdown-toggle form-control selectchange", @id="zhongzuList", @syntax="setup " })


}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.INITIALMINES)
{
    <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 建造初始房子 </p>
}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.SELECTROUNDBOOSTER)
{
    <p>现在等待 @Model.FactionList[Model.GameStatus.PlayerIndex].FactionName 选择回合助推板 +rbtx</p>

    @Html.DropDownList("enumList", new SelectList(Model.RBTList, "name", "desc"),"--请选择回合助推板--", new { @class = "btn dropdown-toggle form-control selectchange",@id="rbtList", @syntax = "+" })


}
else if (Model.GameStatus.stage == GaiaCore.Gaia.Stage.GAMEEND)
{
    <p>游戏结束 @string.Join("|",@Model.FactionList.OrderBy(x=>x.Score).Select(x=>string.Format("{0}:{1}",x.FactionName,x.Score)))</p>
}

@if (Model.UserDic.ContainsKey(User.Identity.Name))
{
@foreach (var fac in Model.UserDic[User.Identity.Name])
{
    @foreach (var leech in fac.LeechPowerQueue)
    {
            <form asp-controller="Home" asp-action="LeechPower" method = "post" class="form-horizontal">
                <div>@fac.FactionName 是否要从 @leech.Item2 吸取 @leech.Item1 点魔力</div>
                <input name = "name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden" />
                <input name = "factionName" class="form-control" value="@fac.FactionName" type="hidden" />
                <input name = "power" class="form-control" value="@leech.Item1" type="hidden" />
                <input name = "leechFactionName" class="form-control" value="@leech.Item2" type="hidden" />
                <button type = "submit" name="isLeech" class="btn btn-default" value="true">是</button>
                <button type = "submit" name="isLeech" class="btn btn-default" value="false">否</button>
            </form>
    }
}
}

@if (ViewData["log"] != null)
{
    <p>@ViewData["log"]</p>
}
@if (User.Identity.Name.Equals(Model.GetCurrentUserName()))
{
<form asp-controller="Home" asp-action="ViewGame" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label class="col-md-1 control-label">syntax</label> 
    <div class="col-md-4">
        <input name="syntax" class="form-control" id="syntax"/>
    </div>
    <input name="name" class="form-control" value="@Context.Request.Path.Value.Split('/')[3]" type="hidden"/>
    @if (@Model.GameStatus.stage >= GaiaCore.Gaia.Stage.INITIALMINES)
    {
        <input name="factionName" class="form-control" value="@Model.FactionList[Model.GameStatus.PlayerIndex].FactionName" type="hidden" />
    }
    @*<div class="col-md-1">
        <button type="button" class="btn btn-default">Preview</button>
    </div>*@
    <div class="col-md-1">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
}
<div class="row">
    <div class="col-md-7">
        <canvas id="myCanvas" width="950" height="740" style="border:1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-md-5">
    <div class="row" id="actBody">
        @{int index_act = 1;}
        @foreach (var name in new string[] {"3k", "2tf", "2o", "7c", "2k", "1tf", "2pwt", "1stt/att", "score", "3vp"})
        {
            <div class="col-xs-6 col-md-2" style="height: 60px; width: 60px; text-align: center; line-height: 60px; background: url(/images/pwactionbg.gif);" id="act @index_act">
                <a href="#">@name</a>
                    
            </div>
                
            index_act++;

                
        }
    </div>
    <div class="row">
        @foreach (var name in new string[] { "-7pw", "-5pw", "-4pw", "-4pw", "-4pw", "-3pw", "-3pw", "-4Q", "-3Q", "-2Q" })
        {
            <div class="col-xs-6 col-md-2" style="height: 30px; width: 60px;">
                @name
            </div>
        }
    </div>

    <script type="text/javascript">
        var legendData = [];
        var seriesData = [];
    </script>

    @foreach (var item in Model.FactionList)
    {
        <script type="text/javascript">
            legendData.push('@item.FactionName');
            seriesData.push({
                name: '@item.FactionName',
                type: 'bar',
                data: [@item.TransformLevel, @item.ShipLevel, @item.AILevel, @item.GaiaLevel,
                    @item.EconomicLevel, @item.ScienceLevel
                ]
            });

        </script>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="badge">@item.Score VP</span> <span style="color: @item.OGTerrain.ToString()">@item.FactionName</span>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table" width="50%">
                    <tr>
                        <td>@item.Credit C </td>
                        <td>@item.Ore O</td>
                        <td>@item.QICs Q</td>
                        <td>@item.Knowledge K</td>
                        <td>@item.PowerTokenGaia PG</td>
                        <td></td>
                        <td>@item.PowerToken1/@item.PowerToken2/@item.PowerToken3 pw</td>

                    </tr>
                    <tr>
                        <td>M </td>
                        <td>TC</td>
                        <td>RL</td>
                        <td>AC1</td>
                        <td>AC2</td>
                        <td>SH</td>
                        <td>Gaia</td>
                    </tr>
                    <tr>
                        <td>@(8 - item.Mines.Count)/8</td>
                        <td>@(4 - item.TradeCenters.Count)/4</td>
                        <td>@(3 - item.ResearchLabs.Count)/3</td>
                        <td>
                            @if (item.Academy1 == null)
                            {
                                <span>1/1</span>
                            }
                            else
                            {
                                <span>0/1</span>}
                        </td>
                        <td>
                            @if (item.Academy2 == null)
                            {
                                <span>1/1</span>}
                            else
                            {
                                <span>0/1</span>}
                        </td>
                        <td>
                            @if (item.StrongHold == null)
                            {
                                <span>1/1</span>}
                            else
                            {
                                <span>0/1</span>}
                        </td>
                        <td>@item.Gaias.Count</td>
                    </tr>
                </table>


            </div>
        </div>

        @foreach (var leech in item.LeechPowerQueue)
         {
             <div>From @leech.Item2 leech @leech.Item1 power</div>
         }
                @*<p>---分割线---</p>*@

    }

        <script src="~/js/echarts.min.js"></script>
    <div id="main" style="width: 600px; height: 400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                //data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','百度','谷歌','必应','其他']
                data: legendData
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    //地形改造 航行  人工智能  盖亚计划  经济 科学
                    data: ['地形改造', '航行', '人工智能', '盖亚计划', '经济', '科学']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: seriesData

        };

        console.log(legendData);
        console.log(seriesData);
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
        @*<h4>种族</h4>
        @foreach (var item in Model.FactionList)
        {
            <div>@item.FactionName|分数:@item.Score|Color:@item.OGTerrain.ToString()|C:@item.Credit|O:@item.Ore|Q:@item.QICs|K:@item.Knowledge|PG:@item.PowerTokenGaia|Power:@item.PowerToken1/@item.PowerToken2/@item.PowerToken3</div>
            <div>铲子:@item.TransformLevel|航海:@item.ShipLevel|AI:@item.AILevel|盖亚:@item.GaiaLevel|经济:@item.EconomicLevel|科技:@item.ScienceLevel</div>
            @foreach (var it in item.GameTileList)
            {
                if (it.IsUsed)
                {
                    <s>@it.GetType().Name @it.desc</s>
                }
                else
                {
                    <div>@it.GetType().Name @it.desc</div>
                }
            }
            <div>
                建筑物 M @(8-item.Mines.Count) /8 | TC @(4-item.TradeCenters.Count) /4 |RL @(3-item.ResearchLabs.Count) /3 |板子上有的盖亚 @item.Gaias.Count
                |AC1 @if (item.Academy1 == null)
                { <a>1/1</a> }
                else
                { <a>0/1</a>}
                |AC2 @if (item.Academy2 == null)
                { <a>1/1</a>}
                else
                { <a>0/1</a>}
                |SH @if (item.StrongHold == null)
                { <a>1/1</a>}
                else
                { <a>0/1</a>}
            </div>

            @foreach (var leech in item.LeechPowerQueue)
            {
                <div>From @leech.Item2 leech @leech.Item1 power</div>
            }
            <p>---分割线---</p>

        }*@


        <h4>回合助推板</h4>
        @foreach (var item in Model.RBTList)
        {
            <p>@item.GetType().Name @item.desc</p>
        }
        <h4>回合计分板</h4>
        @for (int i = 0; i < Model.RSTList.Count; i++)
        {
            <p>Round @(i + 1) @Model.RSTList[i].desc</p>
        }
    </div>
</div>
<h1>魔力行动</h1>
        @foreach (var item in Model.MapActionMrg.mapActList)
        {
            if (item.IsUsed)
            {
                <s>@item.GetType().Name @item.desc</s>
            }
            else
            {
                <div>@item.GetType().Name @item.desc</div>
            }
        }
    <h1>Advance Tech</h1>
    @foreach (var item in Model.ATTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Standard Tech For 6</h1>
    @foreach (var item in Model.STT6List)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Standard Tech For 3</h1>
    @foreach (var item in Model.STT3List)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Final Score</h1>
    @foreach (var item in Model.FSTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>Alliance Tile</h1>
    @foreach (var item in Model.ALTList)
    {
        <p>@item.GetType().Name @item.desc</p>
    }
    <h1>LogHistory</h1>
    @foreach (var item in Model.UserActionLog.Split(new String[] { "\r\n" }, StringSplitOptions.RemoveEmptyEntries))
    {
        <p>@item</p>
    }



    <script type="text/javascript">
        var c = document.getElementById("myCanvas");
        var cxt = c.getContext("2d");
        var model = @Html.Raw(Json.Serialize(Model));
        console.log("js start");
        DrawMap();


        var list = canvasobjList;

        function getEventPosition(ev){
            var x, y;
            if (ev.layerX || ev.layerX == 0) {
                x = ev.layerX;
                y = ev.layerY;
            } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                x = ev.offsetX;
                y = ev.offsetY;
            }
            return {x: x, y: y};
        }

        function getClickObj(x,y) {
            for (var i = 0; i < list.length; i++) {
                if (list[i].xmax >= x && list[i].xmin <= x && list[i].ymax >= y && list[i].ymin <= y) {
                    return list[i];
                }
//            console.log(list[i]);
//            console.log(x+"/"+y)
            }
        };

        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {    
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出
                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        c.addEventListener('click', function (e) {
            //console.log(list);
            var xy = getEventPosition(e);
            var clickObj = getClickObj(xy.x, xy.y);
            if (clickObj.typename != undefined) {
                switch (clickObj.typename) {
                case "Mine":
                        $("#syntax").val("upgrade {0} to {1}".format(clickObj.position,"TC"));
                    break;
                case "TradeCenter":
                    //$("#myModalLabel").text("新增");
                        $('#myModal').modal();
                    $("#sttBody").hide();
                    $("#updateBuildList").change(function() {
                        if ($(this).val() == "RL") {
                            $("#sttBody").show();
                        } else {
                            $("#sttBody").hide();
                        }
                        //alert(2);
                    });
                    $("#stt6List").change(function() {
                        //if ($("#stt6List").val()!=)
                        $("#stt3List").val("");
                    });
                    $("#stt3List").change(function() {
                        //if ($("#stt6List").val()!=)
                        $("#stt6List").val("");
                    });

                    $("#updateQuery").click(function () {
                        if ($("#stt6List").val() != "") {
                            $("#syntax").val("upgrade {0} to {1}.+{2}".format(clickObj.position,
                                $("#updateBuildList").val(),
                                $("#stt6List").val()));

                        } else {
                            $("#syntax").val("upgrade {0} to {1}.+{2}. advance tf".format(clickObj.position, $("#updateBuildList").val(), $("#stt3List").val()));
                        }
                        $('#myModal').modal('hide');
                    });
//                        $("#updateBuildList li").click(function() {
//                            $("#syntax").val("upgrade {0} to {1}.+".format(clickObj.position, this.id));
//                            $('#myModal').modal('hide');
//                    });
                    break;
                case "ResearchLab":
                        $("#syntax").val("upgrade {0} to {1}".format(clickObj.position,"AC"));
                    break;
                case "Academy":
                    
                    break;
                case "StrongHold":
                        //alert("不能继续升级");
                    break;
                case "GaiaBuilding":
                       //alert("不能继续升级");
                    break;
                default:
                        console.log("不能继续升级");
                }
            } else {
                $("#syntax").val("build " + clickObj.position);
            }
            
            console.log(clickObj);
            //console.log("f");
            //alert(getEventPosition(e).x+"/"+getEventPosition(e).y);
        }, false);


    </script>


    <script>
        //选择种族，选择回合版
        $(".selectchange").change(function () {
            var obj = $(this);
            var syntax = obj.attr("syntax");
            $("#syntax").val(syntax + $(this).val());
            //alert($(this).val());
        });
        //魔力行动
        $("#actBody div").click(function () {
            var value = this.id.replace(" ", "");
            $("#syntax").val("action {0}".format(value));
        });
    </script>

    }
    else
    {
    <p>没做完不好意思啊</p>
    }
